[2018-05-14 14:05] legrego opened #1 "Create sensors to track cluster state in HASS"

[2018-05-14 14:50] legrego opened #2 "Index Template should default to use a single shard"

[2018-05-18 18:56] legrego opened #3 "Create service endpoints"
This component should expose service endpoints to enable automations and scripts to write data to the Elasticsearch cluster

[2018-05-23 20:11] legrego opened #4 "Update HASS version"

[2018-05-27 15:30] #4 closed

[2018-06-01 10:49] #2 closed

[2018-06-02 13:06] legrego opened #7 "index mapping - entity value should be string and keyword"
string only is problematic for certain visualizations in Kibana

[2018-06-27 11:32] legrego opened #8 "Tune rollover settings"
They are overly aggressive, and should not rollover until the index is of a sufficient size

[2018-06-27 11:41] #7 closed

[2018-06-27 11:45] #8 closed

[2018-08-06 17:24] cbulock opened #11 "How to Get Events Published?"
Installed this as I've been looking for a good solution on getting HASS logs into elasticsearch.

After installing the component, it created the index and alias, but I'm not getting any events published.  No errors are showing up, only things I see in the HASS logs are that the rollover succeeds whenever I restart HASS.

Is there some config that need to be setup to have the logs published?  Curre

[2018-08-11 20:45] vquiering commented on #11
Same here. I'm using version 0.74.2.
The index and template are created. No docs are published.

[2018-08-15 12:02] legrego commented on #11
Hey @cbulock, @vquiering:

Thanks for giving this a spin! I'm working on getting this component updated so that it behaves in a more consistent manner. I modeled this after my [HomeSeer plugin](https://github.com/legrego/HSPI_Elasticsearch), but I think that was a poor choice given that the two systems have different eventing models. I'll diagnose this further over the next couple of days and resp

[2018-08-16 18:42] legrego commented on #11
@cbulock @vquiering

I pushed a change that should hopefully fix the indexing problems you are seeing. You will need to remove the index template and any indices that the plugin may have created before trying the newest version.

If you get a chance, please run through the steps below and let me know if it helps!

1) Stop home-assistant
2) Run the following from Kibana's Dev Tools to remove the in

[2018-08-16 19:52] legrego opened #13 "Support Elastic Cloud ID"
The plugin should allow a [Cloud ID](https://www.elastic.co/guide/en/cloud/saas-release/ec-cloud-id.html) to be specified

[2018-08-17 17:35] vquiering commented on #11
@legrego
Events get published now. Thank you very much.

[2018-08-17 17:38] legrego opened #14 "Add troubleshooting guide to README"

[2018-08-17 19:34] cbulock commented on #11
Can confirm this is working for me now as well!  Thanks for the work put into this!

[2018-08-17 19:34] #11 closed

[2018-08-20 16:19] #1 closed, assigned to nobody

[2018-08-20 16:35] legrego opened #16 "Reorganize code"
push code into a `/src` or `/custom_components` folder for easier nav

[2018-08-20 22:41] #3 closed

[2018-08-21 11:00] legrego opened #18 "Automatically create Kibana Dashboards"
I'd love to get some designs proposed for various dashboards that the community would find useful. Share your thoughts!

[2018-08-22 10:46] legrego opened #19 "`value` property mapping should conditionally support floats"
The `value` property mapping is currently a string & keyword field, but for certain visualizations/aggregations in ES, it is more useful to treat it as a float/int.

Not all hass values are numeric, so we should conditionally support this behavior

[2018-08-29 13:47] #19 closed

[2018-08-31 18:03] legrego opened #21 "Support device tracker lat/long attributes"
The following fields should be declared as `geo_point` to enable coordinate map visualizations:

[code]

[2018-08-31 18:20] legrego opened #22 "Support publishing all entity states on a fixed interval"
Rather than just publishing entity changes as they happen, it is also useful to periodically publish the current state. This makes date histograms immensely more useful for visualizations

[2018-09-01 06:30] MrBoggi opened #23 "Error loading elasticsearch"
HA Version: 0.77
ELK version: 6.3.2

I just added this to my home assistant. Copied files as described and configured my configuration.yaml to point to my server running the ELK stack. After restarting HA I get the following error:

`
2018-09-01 08:11:53 ERROR (MainThread) [homeassistant.setup] Error during setup of component elastic
Traceback (most recent call last):
  File "/usr/src/app/homeassi

[2018-09-01 19:58] legrego commented on #23
I agree with you -- based on the error message, it looks like HA failed to download the `elasticsearch` client dependency. I'm on HA `0.74` right now, but let me test on a fresh install of `0.77` to see if I can reproduce.

Sorry to ask the obvious, but have you tried restarting HA to see if that fixes the problem?

Otherwise, are you able to check if the `elasticsearch` package is installed by HA

[2018-09-01 19:58] #22 closed

[2018-09-01 21:18] #21 closed

[2018-09-02 05:39] MrBoggi commented on #23
Hi

I was pretty shure I restarted but.. Well.. did a new restart now and I cannot find the error in the HA log and it seems like I get data into my ELK :) So.. A classic example of PEBKAC (Problem exists between keyboard and chair)

[2018-09-02 06:05] MrBoggi commented on #23
I think we just saw a typical example of PEBKAC here. So now it loads as it should but I see the following error now:

2018-09-02 07:48:00 ERROR (MainThread) [custom_components.elastic] Error publishing documents to Elasticsearch: ({'domain': 'zwave', 'entity_id': 'e2_kontor_varme_gulvtermostat', 'attributes': {'node_id': 19, 'node_name': 'Kontor Gulvvarme', 'manufacturer_name': 'ThermoFloor AS',

[2018-09-02 12:36] legrego opened #26 "Sets are not serialized correctly - documents do not publish to ES"
If a set of items is present in the `attributes` of an entity's state, then the document will fail to index, because we need to transform it into an array (ES does not have the concept of "sets").

See https://github.com/legrego/homeassistant-elasticsearch/issues/23#issuecomment-417907535

https://github.com/elastic/elasticsearch-py/issues/744#issuecomment-373131251

[2018-09-02 12:37] legrego commented on #23
Thanks for the followup @MrBoggi!

It looks like you've found a bug -- I am not serializing python `sets` correctly. I've opened https://github.com/legrego/homeassistant-elasticsearch/issues/26 to track this.

[2018-09-02 12:53] legrego commented on #26
@MrBoggi,

Can you try the version here and let me know if that fixes the error you were seeing:

https://github.com/legrego/homeassistant-elasticsearch/tree/serialize-sets

[2018-09-02 15:29] MrBoggi commented on #26
@legrego I have updated here now and restarted HA server. It seems like the errors are gone and also getting more data into Elasticsearch. I will follow up tomorrow and see how it has performed during the night.

[2018-09-02 17:15] MrBoggi opened #28 "only_publish_changed: true - not working?"
To reduce amout of data stored I would like to store only when value changes. For this I can use the option only_publish_changed: true

This is turned on but it seems like it is logging same value serveral times:
![image](https://user-images.githubusercontent.com/25028288/44958707-42b90b80-aee4-11e8-94d3-dc4ba56b9ec7.png)

As you can see, both documents has the same value and the entity is sorted

[2018-09-02 18:11] legrego commented on #28
`only_publish_changed` is meant to effectively disable the feature I introduced with #22, and I believe it's doing that. I think perhaps the configuration name and description could be updated to be more accurate.

To solve what you are experiencing, I wonder if we could attempt to detect this by comparing the `state.last_updated` time to the last time this plugin published events to Elasticsearch

[2018-09-02 18:48] MrBoggi commented on #28
@legrego The features you mention and want to implement, I really think is good features to this "plugin".

[2018-09-02 19:54] #26 closed

[2018-09-02 19:55] legrego commented on #23
Closing as the original issue was resolved 👍

[2018-09-02 19:55] #23 closed

[2018-09-02 19:57] legrego commented on #28
@MrBoggi I had some free time today, so I implemented #29 to allow specific domains and entities to be excluded from publishing to Elasticsearch.

This does not solve the original issue here, but this should allow you to reduce the amount of data you are sending if you have entities you don't care about.

Are you ok closing this issue, since the configuration option is working as intended? We can

[2018-09-03 13:17] #16 closed

[2018-09-07 13:47] legrego commented on #28
Closing - feel free to reopen if needed!

[2018-09-07 13:47] #28 closed

[2018-09-08 18:58] legrego opened #31 "Support watcher jobs"
We should support creating a watcher job to send alerts if HASS data hasn't been sent to Elasticsearch within a specific period of time. This is useful to detect internet outages or local network/HASS issues.

[2018-09-28 13:21] legrego opened #32 "object_id is conflated with entity_id in index mapping"
The index mapping includes the `entity_id`, but in reality, we are shipping the `object_id`. We should be sending both `object_id` and `entity_id` to ES.

This will be a "breaking" change, which will essentially invalidate existing indices/templates.

[2018-09-30 10:42] jakommo opened #33 "Add config for verify_certs and ca_certs"
**Is your feature request related to a problem? Please describe.**
When using a self signed cert, the connection fails with:
[code]
The CA is installed and trusted on the OS level:
[code]
So it looks like python is not using the OS level CA trust.

**Describe the solution you'd like**
[elasticsearch-py support verify_certs and ca_certs](https://elasticsearch-py.readthedocs.io/en/master/connection.

[2018-10-01 06:15] markwalkom opened #34 "Document Security role requirements"
**Is your feature request related to a problem? Please describe.**
Thanks for adding auth support to this. It's not clear what (X-Pack) Security role requirements are needed when interacting a secured cluster.

**Describe the solution you'd like**
Having some extra docs would be great, an example of a custom role, or which of the existing roles could be granted would be even better.

**Additional

[2018-10-01 06:28] markwalkom commented on #18
If you have one/some then it'd be great to share via a gist to get things started :D

I'll see what I can whip up and do the same.

[2018-10-01 14:30] legrego opened #35 "Rollover defaults are too aggressive"
The current defaults for index rollovers are too aggressive. This results in indices that are too small. The default `rollover_size` should be set to `30gb`, and both `rollover_age` and `rollover_docs` should be initially unset.

[2018-10-02 21:37] jakommo commented on #35
In general I'm :+1: on this as 30gb usually is a good size for a shard with this type of data.
I'm wondering though how long it will take to reach 30gb. If it takes a year, then it might make things more complicated, i.e. if a mapping change is necessary

[2018-10-02 21:48] legrego commented on #35
That's a good point...I imagine it would take quite some time to hit the 30gb mark, for most installations. For my own indices, I'm seeing ~150mb per 1 million documents

![image](https://user-images.githubusercontent.com/3493255/46378898-191e0c00-c66b-11e8-8b1e-097550007c09.png)

[2018-10-02 21:51] legrego commented on #35
pinging @dsztykman, since you had the original suggestion for 30gb. Do you have any thoughts on this?

[2018-10-03 11:52] dsztykman commented on #35
Agreed it's a bit of an issue, we should maybe think of a new indices names with versioning included like `hass-events-v1-XXX` and then whenever we change the mapping we create a new version and with aliases we can manage this way.
Otherwise we're going to end up with too many shards and too little data and the performance is going to suffer in the long term.
The question is how do we detect a cha

[2018-10-03 12:37] legrego commented on #35
I like the idea of versioning the index names.

Like adding a new device ?

My goal for the index mapping is to be device agnostic. It shouldn't care which devices are registered, or how many devices exist.
I think the only times the mapping should change are:

1) Defects in the mapping. I've encountered this as more people use the plugin with various configurations. See also #32
2) ES version com

[2018-10-03 12:40] dsztykman commented on #35
Make sense so essentially change the version and the mapping when we receive an error from ES

[2018-10-15 21:06] jakommo opened #38 "Rename time field to @timestamp?"
**Is your feature request related to a problem? Please describe.**
Currently the default time field is just called `time`. Logstash and Beats are using `@timestamp` by default and while there is no real need for this name, it's kind of the standard name for the default time field.

Want to start a discussion on this and hear others opinions on this.

[2018-10-15 21:28] jakommo opened #39 "remove homeassistant version from requirements.txt?"
Currently the requirements.txt lists `homeassistant==0.69.1`. When I installed this plugin a few weeks ago, the first thing I did was `pip install -r requirements.txt` (without really checking the content) and this resulted in a downgrade of my homeassistant which was already at `0.77` or so.

I think it would make sense to drop `homeassistant` from the `requirements.txt`, as this is an addon to h

[2018-10-16 11:14] legrego commented on #39
That's an interesting thought, I hadn't considered that people would think to run the installer. `requirements.txt` should only be used by TravisCI when running the linters.

That being said, I think it'd make sense to change it to `>=`. This would prevent downgrades in your scenario, and it'd still allow travis to take advantage of this. Alternatively (or additionally), we could rename `requireme

[2018-10-16 11:17] legrego commented on #38
I'm certainly not opposed to this change. `@timestamp` is more consistent with the Elastic stack, so this makes sense to me.

If you (or anyone else) gets to this before me, I'd like to try to combine this with the fix for #32, so that we can take care of two breaking mapping changes at the same time. Either that or we can have two PRs up that we merge at the same time. That might be the smarter a

[2018-10-16 12:09] legrego commented on #35
A bit off-topic for this PR, but if you're interested in seeing/reviewing the versioning idea, I have a PR up for #32 which incorporates this: https://github.com/legrego/homeassistant-elasticsearch/pull/40

[2018-10-18 13:55] #32 closed

[2018-10-24 11:41] #38 closed

[2018-10-30 12:36] #35 closed

[2018-11-01 22:29] #34 closed

[2018-11-01 22:33] #39 closed

[2018-11-02 20:40] #13 closed

[2018-11-08 12:33] legrego opened #46 "Support Elastic Common Schema (ECS)"
We should consider remapping fields to correspond to [ECS](https://github.com/elastic/ecs) definitions

[2018-11-08 17:56] untergeek commented on #46
I was just going to add this, but you beat me to it!

Need any help?

[2018-11-08 18:03] legrego commented on #46
@untergeek I'll take all the help I can get! If you want to contribute a PR, or even just a list of mappings here, that would be awesome. I don't expect that I'll have time for another week or so

[2018-11-08 18:07] untergeek commented on #46
Roger that.  I would love to have this ECS compliant before I deploy this to my HA environment.

[2018-11-08 18:09] untergeek commented on #46
Would you like to see dynamic templates in the mapping? Such that `float` is `float` or `half-float`, strings are `keyword`, etc.? On or off is `bool` type?

[2018-11-08 18:14] legrego commented on #46
I'm certainly not opposed -- I honestly wasn't aware of dynamic templates when I first wrote this, and I'm still not that well-versed in them. If it makes it easier or more reliable to support ECS, then I say go for it 👍

[2018-11-15 23:03] legrego commented on #46
Brain dump of proposed mappings, based on the most [current stable beta](https://github.com/elastic/ecs/tree/v1.0.0-beta1) (`v1.0.0-beta1` as of the time of this writing). This is not an exhaustive list.

I haven't found a place for the "dumping ground" of fields that we publish under the `attributes` field today. `attributes` contains all of the, well, entity attributes that HASS records. Each en

[2019-01-08 20:33] sejnub commented on #28
Hi!

I am sorry but I don't get it. I can see absolutely now difference between the behaviours with:
`only_publish_changed: true`
and
`only_publish_changed: false`

In both cases each entity is published at the interval specified with
`publish_frequency: 5`

My config is:
[code]
Could you help? Maybe I just don't understand the documentation.

[2019-01-23 13:59] untergeek commented on #46
These look good.  Thoughts as follows:

* All of the `agent` fields should be derived from the HASS discovery info:
    * Why not put the HASS discovery `base_url` in as `url` fields?
    * `version` => `agent.version`
    * `location_name` => `agent.name`
    * `version` => `agent.version`
    * Mapping `agent.type` firmly to `hass` or `home-assistant` makes sense.
* Do we need `event.id` at all?

[2019-01-24 11:54] sejnub commented on #31
My guess is that most potential users will not purchase a license so it might make more sense to support a free alerting solution (that doesn't need more than the free basic license) like elastalert instead of watcher. That way we could target at a bigger group.

[2019-01-24 12:02] sejnub commented on #46
Could one of you publish the mapping template that you currently use for your hass indices. I am just beginning with elasticsearch and you probably have some working mapping even if currently uses the not ECS conform field names. I think this mapping template should be part of this repository. I offer to help improving it.

[2019-01-24 12:47] legrego commented on #46
Thanks for the feedback @untergeek!

Good idea, I hadn't considered that.

We likely don't need an `event.id` here, you make a good point.

Any thoughts on the `attributes` dumping ground? We don't have a way of getting a definitive list of these, as every HASS installation will be different. We can easily move any geo fields into `device.geo`, but the rest would be difficult. I'm specifically con

[2019-01-24 12:59] legrego opened #47 "Discuss: Contribute component to home-assistant"
Once we conform to ECS (#46) and cleanup a few other issues, I'm considering offering this component to home-assistant as a first-class component. That would give us broader exposure, and hopefully increased adoption.

If we do that though, I'm wondering how we'll manage support for different versions of the Elastic Stack. If we keep the component here, I can manage different branches for the diff

[2019-01-24 13:40] sejnub commented on #46
@legrego
Ups sorry, I didn't know that the index template is already there. I will try to find out, why it wasn't used on my elk instance. On my instance elasticsearch tried to guess the mapping and now handles the field "value" as type "long", which isn't so nice for thermostats.

Thanks!

[2019-01-28 09:49] sejnub opened #48 "Settings for index_format and alias are not applied"
**Environment**
Home-Assistant version: hass.io 0.86.2
Elasticsearch version: 6.5.4

Relevant `configuration.yml` settings:

[code]

**Describe the bug**
When I restart my hass.io the settings for index_format and alias are not used. Instead in elasticseach I only have one index named "active-hass-index-v2" into which data is added.

**Expected behavior**
I expect the index "hass-00001" and the al

[2019-01-28 13:47] untergeek commented on #46
@legrego For anything not specified in ECS, we _could_ make a `hass` root-level object in the mapping, and put stuff beneath that. It would therefore not stomp on any pre-existing ECS field names, and would therefore not pose a horrible problem if some of the field names are not 100% ECS compliant.

[2019-01-29 14:32] legrego commented on #48
Hey @sejnub,

Did you happen run this component with the default configuration before changing `index_format` and `alias`? If so, you will need to delete the index template and restart home-assistant.

The index template (`active-hass-index-v2`) isn't something that you can control via configuration settings. This is an implementation detail of the component. The template should use the index form

[2019-01-29 14:33] legrego commented on #46
I like that approach, and it seems like a fair tradeoff for our needs!

[2019-01-29 14:46] ooii opened #49 "Add include_domains and include_entities"
**Is your feature request related to a problem? Please describe.**
Currently, the configuration file allows for excluding domains and entities. If one needs to send only few data to ES, then she/he needs to add all other domains to the `exclude_domains` array.

**Describe the solution you'd like**
Add `include_domains` and `include_entities` with a precedence that included entities override exclud

[2019-01-30 18:19] legrego commented on #49
Thanks for the suggestion! I'll see what it takes to add this, unless you (or someone else) wants to give it a shot.

[2019-01-30 23:44] sejnub commented on #48
**Problem 1: Old index template: Solved**
I deleted the index templated and restarted hass.

I now have an index template "hass-index-template-v2" with the content

[code]
So everything is fine.

**Problem 2: index_format not used: Somehow solved itself**

For a while now (before the deletion of the index template) the new `index_format` value is used.
I now have the index "hass-v2-000001" and the

[2019-02-02 22:20] #48 closed

[2019-02-21 20:52] sejnub commented on #46
There is a nice quite new video about the ecs: https://www.youtube.com/watch?v=XNeTAHlimQI

[2019-02-21 21:06] sejnub opened #51 "The folder structure has to be changed to comply with hass v 0.88.0"
**Environment**
Home-Assistant version: 0.88.0
Elasticsearch version: 6.6

**Describe the bug**
With version 0.88.0 hass.io throws the following two errors:

- Error loading custom_components.elastic.sensor. Make sure all dependencies are installed
- Integrations need to be in their own folder. Change sensor/elastic.py to elastic/sensor.py. This will stop working soon.

The plugin still seems to w

[2019-02-21 21:20] untergeek commented on #46
@sejnub Thanks for your consideration. @legrego and I both happen to be employed by Elastic, so we're kind of familiar with ECS 😄

While ECS is in beta, we have been unsure how to proceed, and don't want to do something that we might have to walk back in the future. That's where much of our commentary has been centered: not having to back it out and change it at some future point because we leaped

[2019-02-27 19:40] legrego commented on #51
Thanks for the report @sejnub! I had missed this announcement

[2019-02-27 19:52] #51 closed

[2019-02-27 20:07] #14 closed

[2019-03-04 12:46] joostvanmourik opened #54 "NaN values are not supported"
Log Details (ERROR)
Mon Mar 04 2019 13:44:13 GMT+0100 (Midden-Europese standaardtijd)
Error publishing documents to Elasticsearch: ('5 document(s) failed to index.', [{'index': {'_index': 'hass-events-v2-000001', '_type': 'doc', '_id': 'wbW7SGkBaQlUzTS0rK9f', 'status': 400, 'error': {'type': 'mapper_parsing_exception', 'reason': 'failed to parse', 'caused_by': {'type': 'json_parse_exception', 'rea

[2019-03-04 13:57] joostvanmourik commented on #54
Tried this
https://www.elastic.co/guide/en/elasticsearch/reference/current/ignore-malformed.html

But now i have this warning
Error publishing documents to Elasticsearch: ('116 document(s) failed to index.', [{'index': {'_index': 'hassjvm-v2', '_type': 'doc', '_id': 'JrX9SGkBaQlUzTS0P9kg', 'status': 400, 'error': {'type': 'illegal_argument_exception',

[2019-03-04 15:28] joostvanmourik commented on #49
Can you also send me the the version with include, i only wan't to use this for my Toon data (5 entities)

[2019-03-04 17:54] jakommo commented on #54
Hi @joostvanmourik , can you post the whole exception you get now, it looks like it has been truncated after the `'illegal_argument_exception',` part.
It would also be nice if you could use code blocks / markdown to make your posts more readable.

[2019-03-04 18:05] jakommo commented on #49
Hey @joostvanmourik , this functionality hasn't been added yet, you can follow the PR https://github.com/legrego/homeassistant-elasticsearch/pull/50 for the conversation on this topic.
If you are used to python, you could also try merging in the changes manually on your local machine from this diff https://github.com/legrego/homeassistant-elasticsearch/pull/50/files, but judging from the conversat

[2019-03-04 18:24] joostvanmourik commented on #49
Thanx i'am not very good with Pyton so for now i just try to exclude as much as possible :-)

[2019-03-04 18:27] joostvanmourik commented on #54
Had a couple devices with "Nan"
Excluded everything and now it seems to work, just like to write the values of 2 charts to elastic. Thanx

[2019-03-07 16:16] legrego commented on #54
@joostvanmourik, I've updated the issue description to match the underlying problem. Thanks for the report!

[2019-03-07 20:01] legrego commented on #46
We are probably safe to take a closer look at this now that [ECS has turned 1](https://github.com/elastic/ecs/releases/tag/v1.0.0) 🎉

[2019-03-08 19:52] legrego commented on #46
I threw together a PR as a starting point for discussions. Please feel free to review and comment on the approach: https://github.com/legrego/homeassistant-elasticsearch/pull/56

[2019-03-08 19:55] legrego opened #57 "Support Elasticsearch 7.x"
## TODO
- [x] Remove document type
- [ ] Branch for 6.x version
- [x] Fix index template (https://github.com/legrego/homeassistant-elasticsearch/issues/60)

[2019-03-17 16:21] legrego commented on #46
I’ll leave that PR open for comments until March 24th. Barring any feedback, I’ll plan on merging it shortly thereafter.

[2019-03-26 13:22] dsztykman opened #58 "Switch to ILM instead of rollover"
**Uses ILM instead of rollover for ES 6.7 and higher**
See documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/6.7/_setting_up_a_new_policy.html
)

[2019-03-27 19:19] #46 closed

[2019-03-28 11:47] legrego commented on #58
Thanks for the issue @dsztykman! This is something I've wanted to do for a while, so now that ILM is publicly available, we can get started on this 🎉

[2019-03-28 12:46] legrego opened #59 "Retry bulk index instead of dropping events on the floor"
Events that fail to index the first time will never be retried. This component should implement a simple retry/backoff strategy to attempt redelivery at a later time.

[2019-03-28 12:52] legrego commented on #58
I'd honestly _love_ to remove the rollover code that we currently have, as it's rather clunky. OTOH, forcing users to upgrade to 6.7 isn't necessarily ideal either.

Any thoughts?

👍 : Rip out rollover
👎 : Keep it in!

[2019-03-28 12:54] dsztykman commented on #58
Very selfish from me but let's just rip out rollover 👍

[2019-03-29 11:52] tjorim opened #60 "Hass domain ZONE"
**Environment**
Home-Assistant version: 0.90.2
Elasticsearch version: 7.0.0-rc1

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
Various errors in the HA log about zones.

mapper_parsing_exception, failed to parse field [hass.value] of type [long] in document with id 'gHZGyWkBVxYPvKEP6fdQ' caused_by illegal_argument_exception, For input string: "zoning".

[code]

**To Reproduce

[2019-03-29 12:27] legrego commented on #60
@tjorim thanks for the report -- sorry this isn't working correctly for you. Based on my testing this appears to be a compatibility issue with 7.0. I have an issue open to make this component work with 7.x (#57), so I'll add this issue to that list.

For posterity, the underlying issue appears to be with the index template/mapping. On startup on 7.0, I get the following before seeing the issue you

[2019-04-11 20:28] legrego commented on #60
@tjorim I opened a PR for ES7 support. If you get a chance, feel free to test it out before I merge it. I tested on my own ES6 and ES7 clusters, but the more the merrier!
https://github.com/legrego/homeassistant-elasticsearch/pull/61

[2019-04-14 13:30] legrego opened #62 "Add manifest.json"
Add manifest.json to align with updated integration requirements: https://developers.home-assistant.io/docs/en/creating_integration_manifest.html

[2019-04-14 13:31] #57 closed

[2019-04-14 13:31] #60 closed

[2019-04-14 13:41] legrego commented on #58
To keep things simple, I was thinking of starting off with a simple hot / delete setup.

Maybe something like:

[code]

Would build a policy similar to the following:
[code]

Thoughts on this?

[2019-04-19 11:53] johntdyer opened #63 "Error publishing documents to Elasticsearch"
**Environment**
Home-Assistant version: 0.92.4
Elasticsearch version: 6.7

Relevant `configuration.yml` settings:
[code]

**Describe the bug**

getting the following in my logs ( truncated )

[code]

[2019-04-19 12:35] legrego commented on #63
Thanks for the report @johntdyer.

If possible, can you query ES and see what HASS entities have been published with a `hass.attributes.py_version` field? I'm trying to figure out if there are multiple entities using that specific field, but reporting the value differently.

Currently, `hass.attributes` is a dynamic bucket of properties, and I've been trusting HASS to not have one entity clobber t

[2019-04-23 14:25] robin13 opened #64 "strict_dynamic_mapping_exception"
**Environment**
Home-Assistant version: 0.91.4
Elasticsearch version: 6.6.0

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
Logs full of errors like this:
[code]
It looks to me as if the mapping has not been applied correctly, or rather that it has not been recognised that there is already an index with incorrect mapping and a new index should be created.

[code]

[2019-04-24 11:15] legrego commented on #64
Thanks for the report, @robin13. It looks like I forgot to bump the template version from `v2` to `v3` when I transitioned to ECS. I'll try to have a PR up to resolve this in the next day or so

[2019-04-27 15:31] #64 closed

[2019-06-05 17:26] untergeek opened #66 "Insufficient privileges provided with the README example"
**Environment**
Home-Assistant version: 0.93.2
Elasticsearch version: 7.1.0

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
The role suggestion you offer does not cover all needed roles.

[code]

And because of these, it can't write to the index:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `hass_writer` user with the role as defined in the README

**

[2019-06-05 17:30] untergeek commented on #66
Even trying to enhance some of the privileges yields a 403 when trying to do a HEAD on the alias:

[code]

[2019-06-10 19:07] legrego commented on #66
Thanks @untergeek, I'll check this out when I get some time

[2019-07-06 10:27] markwalkom opened #67 "HACS support"
**Describe the solution you'd like**
This is relatively new, but [HACS](https://custom-components.github.io/hacs/) is a replacement for `custom_updater` and it'd be great to be able to keep this extension in sync using it :)

**Additional context**
See link above, but also https://custom-components.github.io/hacs/developer/general/

[2019-07-07 16:45] legrego commented on #67
Thanks for the request @markwalkom, I hadn't seen HACS before. If I'm understanding [the requirements](https://custom-components.github.io/hacs/developer/integration/) correctly, I think we can support this just by resolving https://github.com/legrego/homeassistant-elasticsearch/issues/62.

I'll work on #62 first, and then see if it satisfies the requirements for HACS.

[2019-07-07 16:58] #62 closed

[2019-07-07 18:15] #67 closed

[2019-07-07 18:49] #66 closed

[2019-07-08 00:29] markwalkom commented on #67
Thanks heaps for the quick turn around on this one, I can see it already showing up :D

![Screen Shot 2019-07-08 at 10 28 57](https://user-images.githubusercontent.com/3184718/60775919-39837580-a16b-11e9-8d72-7b370c6e7751.png)
![Screen Shot 2019-07-08 at 10 29 03](https://user-images.githubusercontent.com/3184718/60775920-3b4d3900-a16b-11e9-908f-486290732129.png)

[2019-07-14 10:01] CVi opened #71 "Support for "always changed""
I am using only_publish_changed, and it is great, but I have problems with binary sensors where publishing at regular time intervals makes it easier to analyse (and graph).

I imagine that adding a config structure, similar to "exclude" (domain and entities lists) would be the way to go (if this is a  feature that is wanted). If i were to choose a name, maybe "always_changed".

In my 5 minutes of

[2019-07-15 11:56] legrego commented on #71
Thanks for the issue @CVi.

I'm in favor of this -- I think a name like `always_publish` might make sense, and it would only have an impact when `only_publish_changed` is set to `true` (when false, it's the equivalent of specifying all domains/entities under `always_publish`)

[2019-07-16 09:14] robin13 opened #72 "Unable to find services.yaml for the elastic integration"
In the logs I see this warning:

[code]

From the docs, this seems it is nothing critical, but rather just a missing description of the service provided by elasticsearch:
https://developers.home-assistant.io/docs/en/dev_101_services.html#service-descriptions

What would an appropriate entry in the `services.yaml` file be for the elastic integration?

[2019-07-16 12:06] legrego commented on #72
Thanks for raising this @robin13 -- I must have overlooked this change to HASS.

I think an appropriate `services.yaml` would look something like this (untested):

[code]

This service call is not configurable, so there are no fields supplied.

[2019-07-16 12:26] robin13 commented on #72
Yes - this worked. :)
https://github.com/legrego/homeassistant-elasticsearch/pull/73

[2019-07-16 13:09] legrego commented on #72
Closed via #73

[2019-07-16 13:09] #72 closed

[2019-07-18 18:36] legrego opened #74 "Support config flows"
Home-Assistant (as of `0.96`) supports configuration flows for custom components. We should take advantage of this to allow users to setup this component via the UI, not just via `configuration.yaml`

[2019-07-19 12:26] legrego commented on #58
Any volunteers to beta-test this feature? I'm hoping to have something ready next week, but there's only so much testing I can do against my own installation.

[2019-07-19 17:53] johntdyer commented on #63
@legrego  - I'm happy to perform any queries you want, just not sure how you'd like me to prove or disprove your theory?

[2019-07-19 19:45] johntdyer commented on #63
So FWIW this is the error I am getting now

[code]

and I extracted and redacted a sample of events to hopefully help diagnose :

this is an example of the events Hass is sending

[code]

[2019-07-30 01:04] wickedsun opened #76 "Add queries as sensors"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to make queries and return the result to HomeAssistant, this would be useful for geofencing, for example, as I send all my data to Elastic, but not all data flows through HomeAssistant.

**Describe the solution you'd like**
A plugin to create queries into ElasticSearch as sensors in HomeAssistant.

**Additional

[2019-07-31 11:24] legrego commented on #76
Hey @wickedsun, thanks for opening this issue.

This is an interesting idea. How do you envision this working with a query that returns multiple hits, or multiple buckets in an aggregation?

For queries that return a single hit, I could see something like this working:

[code]

Where `my.document.field` represents a field in the document returned by the query

[2019-07-31 21:45] wickedsun commented on #76
That's a good question. My use case may be very specific. My thought was using geolocation from ElastciSearch to do geofencing since I have stuff going straight to Elastic. Then I thought "hey wait that'd be nice to do geofencing with", and short of rewriting the script to send to MQTT as well as ES, I don't think I can do it.

My guess would be that people who use Elastic for HASS would also like

[2019-08-01 12:04] legrego commented on #76
Is this something that you could solve with Elasticsearch's [date math](https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#date-math), or am I mis-understanding?

Maybe we just take the top hit (`hits.hits[0]`) as the sensor value, and log a warning if more than one hit is returned? Alternatively, the component could enforce a `size: 1` for document queries. A simi

[2019-08-01 12:10] legrego commented on #63
Thanks for the update -- that error is interesting. The `hass.value` field is a multi-field property, which should accept `text` by default, but then also support `hass.value.keyword` and `hass.value.float` if the value is parsable as such:

https://github.com/legrego/homeassistant-elasticsearch/blob/31bc69ba8ee1ff846588642bc8005b21e6ddc89e/custom_components/elastic/index_mapping.json#L27-L39

If

[2019-08-01 14:48] wickedsun commented on #76
My knowledge of ES is pretty bare, but I'll try answering.

It does look like date math would solve that part as you could do "now-X".

Let me explain clearly what I'm trying to do here. I'm getting readings from my car's location every ~4 seconds and this is dumped into ES. I wanted to use that for geofencing since... I already have it so why go through the trouble of setting up something on my p

[2019-08-01 15:24] legrego commented on #76
I was also surprised to find there wasn't an ES component, hence this one 😄. I started this one with the opposite problem though -- getting data from HASS into ES, rather than from ES to HASS. That being said, I don't see why this can't accomplish both.

I have a couple of other enhancements I'd like to work on before tackling this, so I likely won't get to this right away. PRs are welcome if you'

[2019-08-01 17:19] wickedsun commented on #76
This would probably be a good way for me to learn both Python and guts of ES, so I'd love to give it a go but don't take this as a "cool someone else is doing it", if I thought I had the capacity to currently do this, I wouldn't have created this ticket in the first place ;)

This is clearly not urgent and much more of a nice to have, but I'm not a huge fan of the pull method and I would rather st

[2019-08-01 18:16] johntdyer commented on #63
@legrego
[code]

[2019-08-04 17:57] legrego opened #77 "Document minimum supported HASS version"
Currently: 0.96

[2019-08-05 16:07] legrego commented on #63
I stumbled across this too just now when testing something else. My guess is that the component published docs to ES _before_ publishing the corresponding index template/mappings, so ES created one automatically, which ends up being incorrect for subsequent documents that we try to publish.

![image](https://user-images.githubusercontent.com/3493255/62478620-83b34300-b779-11e9-9626-a0c4d2a97a1b.pn

[2019-09-24 02:06] kkellner opened #78 "exclude attribute change"
I have an outlet that contains an attribute "current_power_w".  The value of this attribute changes constantly which is causing a log entry in Elastic.   Is there a way to ignore the change of this attribute without excluding the entire outlet on/off state change?

[2019-09-24 12:44] legrego commented on #78
We can't exclude attribute changes yet, but you can exclude the entire outlet by using the `exclude.entities` configuration option. Assuming the outlet is called `switch.my_outlet`:

[code]

See other example configurations here: https://github.com/legrego/homeassistant-elasticsearch#example-configurations

[2019-09-24 15:23] kkellner commented on #78
Ok, that is what I thought.  Thanks for your help.

[2019-10-31 01:51] johntdyer commented on #63
@legrego  any ore thoughts on this ?

[2019-11-04 14:26] legrego commented on #63
@johntdyer It's definitely something I want to address, I just haven't had the time recently to fully debug and fix

[2019-12-03 21:13] untergeek opened #79 "Allow forcing lower-casing of entity ids."
Some devices append a `.Battery_State` while some append `.battery_state`.

This could be reconciled by forcing lower-case, and/or a separate mapping output that is forced into a lower-case state.

[2019-12-04 12:52] legrego commented on #79
What do you think about supporting a config similar to the following:

[code]

This could allow for a flexible config system so that we could also support  https://github.com/legrego/homeassistant-elasticsearch/issues/78:

[code]

[2019-12-04 13:53] untergeek commented on #79
I appreciate the desire to exclude/include attributes. I’m actually more disturbed by the lack of standardization in HA that allows for `Battery_Level` and `battery_level` to exist.

My concern is that I will be adding a non-trivial number of `custom_entities` to accomplish what I want, rather than a single line blanket configuration argument. It would be great to have everything one wants, but I’

[2019-12-04 13:56] untergeek commented on #79
In the mapping, are these entity_ids always `keyword`? What if they were inverted default, where keyword was the default type, but text as well (`.text`)? This would allow for easy, analyzed search of substrings within heavily dot-infested entity ids.

[2019-12-04 15:22] legrego commented on #79
Yeah, I've had a hard time balancing the configuration options here (easy vs. highly customizable). We could of course support both, but I was trying to converge on a set of config options that would satisfy most folks, most of the time.

That being said, I don't really envision folks wanting to force lower case for some entities, but not others. Perhaps an all-or-nothing config would be better in

[2019-12-04 19:26] untergeek commented on #79
We can probably give `entity_id` a smaller `ignore_above` value. I can't imagine an entity_id having more than 128 characters, leave alone 256 or 1024.  In fact, there are probably many fields which could use such a reduction.

There is a use case that occurs to me, though, and that is if someone wants to make an API call back to Home Assistant from a Watcher. The entity_id would have to be identi

[2020-01-21 10:42] JohanAke1 opened #80 "Enable only health monitoring"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like a possibility to only enable health monitoring of the Elasticsearch stack. So a way to disable publishing events would be really nice.

[2020-01-25 19:57] legrego commented on #80
Thanks for opening this! I like the idea, and shouldn’t be too difficult to implement. Out of curiosity, what version of Elasticsearch are you running?

[2020-01-27 06:50] markwalkom commented on #58
@legrego, I know it's been a while, if you still need someone lemme know

[2020-01-27 12:49] legrego commented on #58
Thanks @markwalkom, I definitely will need a tester or two, but I've stalled on this recently, and need to tie up some loose ends before I have anyone run it. I'll let you know once I'm ready!

[2020-01-27 13:07] legrego commented on #79
Sorry for the late reply.

Yeah that's a great point, we can likely reduce a lot of these significantly.

I _imagine_ the entity_id would have to be identical, and if not, I'd rather not rely on a case-insensitive match here, just in case...

Given the discussions here so far, it seems like one of your original proposals would be the way to go here:

This will give everyone a lowercased version of

[2020-01-27 13:53] untergeek commented on #79
Hard to argue about backward compatibility. I think the principle of least astonishment implies we shouldn't change it.

However, what if we alter the mapping to make it a separate field of the parent mapping?

`entity_id.lower`? or `entity_id.downcase`?

[2020-01-27 13:59] legrego commented on #79
I like `entity_id.lower`!

[2020-01-27 15:44] JohanAke1 commented on #80
Im using the newest docker image from Elastic, which is 7.5.1.

[2020-01-30 15:53] revmannl opened #82 "Cannot connect to ElasticSearch running on HTTPS"
Trying the plugin from Hassio on Pi but cannot connect to an Elasticsearch running on HTTPS. I got the right certificates configured on ES (Let's Encrypt) connecting with browser is no issue. All efforts result in SSL errors. Config seems to ignore the `verify_ssl = false` option.

[code]
Is this part on my end, or something with the elastic add-on in HA?

[2020-01-30 21:56] jakommo commented on #82
From the error it looks like the cert is not trusted, which should not be the case with `verify_ssl = false`.
Are there any other messages logged? i.e. something about the `verify_ssl  = false` not getting picket up or so?

[2020-01-31 08:05] revmannl commented on #82
By looking at the logging from HA, there are no messages that the `verify_ssl = false `is not getting picked up. Running the 'curl' command in the homeassistant docker also states that it cannot verify the legitimacy of the server. Running 'curl' with the` --insecure` option works. Somehow the docker doesn't seem to have the right certs in its truststore.

Are there other places where I could find

[2020-01-31 09:43] revmannl commented on #82
jakommo... after changing the config of elastic to use different cert and changing the HA configuration to `url = '<servername:port>'` with the quotes and `verify_ssl = true` , it is working!

After reading some more about the LetsEncrypt cert it appears I was using the wrong cert :/ Changing that to the right one, 'curl' in the homeassistant docker started working, but needed to change the `url =

[2020-01-31 15:32] legrego commented on #82
Thanks @jakommo for helping out. Glad you got this sorted, and thanks for posting what finally worked for you @revmannl!

I'm going to close this since it appears you have everything up and running now 👍

[2020-01-31 15:32] #82 closed

[2020-01-31 15:33] #31 closed

[2020-01-31 15:33] #18 closed

[2020-01-31 15:35] #54 closed

[2020-02-19 17:30] legrego commented on #58
@markwalkom (&others): I've published version [`0.2.0-BETA`](https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.2.0-BETA) which adds support for ILM, and **drops support** for the manual rollover process. As such, the available configuration options have updated too. The [`feat/ilm`](https://github.com/legrego/homeassistant-elasticsearch/tree/feat/ilm) branch has an updated rea

[2020-02-19 22:28] dancwilliams commented on #58
@legrego I just installed the beta and so far so good!  I will let you know as things progress.

[2020-02-19 22:54] dancwilliams commented on #58
@legrego I am seeing the new index being created, `hass-events-v4-000001`, and the new index template, `hass-index-template-v4`, but I do not see the lifecycle policy being created.  Looks like it is failing full setup with the following error:

[code]

[2020-02-19 22:57] dancwilliams commented on #58
I am running ES version `7.5.1` on an Ubuntu 18.04 box.

[2020-02-19 23:04] legrego commented on #58
Thanks for the quick feedback @dancwilliams! Looks like my last minute change to encode the url properly is failing. I’ll try to get a revert up soon to see if that fixes this issue

[2020-02-20 00:22] legrego commented on #58
@dancwilliams can you try the [`v0.2.0-BETA-4`](https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.2.0-BETA-4) release and let me know if that fixes the issue? It _appears_ resolved on my side, but then again, I missed it the first time around 😄

[2020-02-20 00:50] dancwilliams commented on #58
@legrego Looks like it worked this time. All pieces are in place and no errors.

[2020-02-21 13:55] #77 closed

[2020-03-05 19:15] legrego commented on #58
FYI to beta testers: I will (eventually) be combining the following PRs into the next `0.2.0` release:
- https://github.com/legrego/homeassistant-elasticsearch/pull/83
- https://github.com/legrego/homeassistant-elasticsearch/pull/85
- https://github.com/legrego/homeassistant-elasticsearch/pull/84

If you're beta-testing this specific feature, then you will need to manually adjust your index mappin

[2020-03-06 10:58] dsztykman commented on #58
I just did the update worked flawlessly ! thanks !

[2020-03-07 20:08] legrego opened #86 "Deprecate cloud_id configuration option"
Trying to pare down the config options a bit in order to support HASS config flows (UI driven config). The cloud id connection option is something we don’t really need, so I think it can/should be removed.

[2020-03-15 15:18] #58 closed

[2020-03-15 15:20] #79 closed

[2020-03-15 19:51] #80 closed

[2020-03-17 03:32] kkellner opened #88 "ilm_max_size vs ilm_hot_max_size"
**Environment**
Home-Assistant version: 0.106
Elasticsearch version: 0.2.0

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
The readme documentation lists `ilm_hot_max_size` which does not work.  Looks like the real property name is `ilm_max_size`.

**To Reproduce**
Use the above yaml - validation will fail.

[2020-03-17 03:50] kkellner opened #89 "Upgrade to 0.2.0 no events in Elastic"
After upgrading from 0.1.3 to 0.2.0 I needed to update the configuration as follows:

My version 0.1.3 config:

[code]
My version 0.2.0 config:
[code]

Home Assistant restarted without issues with the above change, however I am not getting any events (visible) in Kibana (Elasticsearch).   Is there an upgrade step I missed?   Here are my current indexes:

![image](https://user-images.githubusercont

[2020-03-17 18:28] kkellner commented on #89
Extra info:  This is what I get in the logic on the HA side:

[code]

[2020-03-17 18:39] kkellner commented on #89
Could it be related to this change by @legrego ?  I'm not well-versed in Elasticsearch so I'm just poking around.

https://github.com/legrego/homeassistant-elasticsearch/blame/890deabd60c119b374a2c11793b58906a0da7312/custom_components/elastic/__init__.py#L545

[2020-03-21 22:30] ThomDietrich commented on #89
Hey all,
I'm seeing the same error on a fresh installation. This must be a newly introduced bug.

I'm using a fresh ELK stack via https://github.com/deviantony/docker-elk
I can see the index `active-hass-index-v4` being created but never filled.

The Home Assistant log shows the following error:

[code]

[2020-03-22 14:05] legrego commented on #89
Hey all,

Sorry for the delayed response, and that you’re having issues with the latest version. I’ll work on reproducing this and getting a fix out as time permits

[2020-03-22 14:22] legrego commented on #89
I think I see the issue, but I have no clue how that made it into the release. I could have sworn I fixed this. The index mapping is using “fields” instead of “properties” for the entity_id and object_id fields. I’m on mobile now so I can’t verify, but if I’m right it’ll be an easy fix for me to push

[2020-03-22 14:22] legrego commented on #88
Thanks for the report! I’ll get the docs updated accordingly

[2020-03-22 18:19] #88 closed

[2020-03-22 18:19] #89 closed

[2020-03-22 18:21] legrego commented on #89
I've published `v0.2.1` to address this. Before upgrading, ensure that you've remove any `hass-events-v4*` indices and templates, as they were created with invalid settings.

[2020-03-27 08:06] kkellner opened #91 "failed to parse field [hass.attributes.visibility] of type [long]"
I installed `browser_mod` from community store.   After installing it, I'm getting the following error in HA log.  I've tried deleting ES index hoping that when it was recreated it might fix the issue but same problem.   Ideas on how to fix?

`
2020-03-27 01:51:37 ERROR (MainThread) [custom_components.elastic] Error publishing documents to Elasticsearch: ('1 document(s) failed to index.', [{'index

[2020-04-01 15:50] untergeek commented on #91
@legrego This is going to explode as a problem. I can confirm this happens with my setup with a fresh pull from GitHub this morning.

The first document that goes through Elasticsearch will set the mapping.

The first `hass.attributes.value` that went through for mine had a `float`:
[code]

So everything that comes later that is string-based will fail:

[code]
Pointedly, the JSON has `{"value": "C

[2020-04-01 20:05] untergeek commented on #91
@kkellner I have a workaround for you. I worked with @legrego on this, and it may become the new template.

[code]

The primary additions are:

[code]

and

[code]
A version of this was already in place for `hass.value`, but it is the value collision between similarly named attributes in `hass.attributes` that is causing mapping conflicts like the one you experienced.

In another comment, I will s

[2020-04-01 20:16] untergeek commented on #91
Running the following in Dev Tools in Kibana (or if you're clever, using `curl`) will add a template which has a higher `order` value.

If you're not familiar with templating in Elasticsearch, multiple templates can all match the same index via the `index_patterns` array parameter. All such templates are effectively merged at index creation into a single collection of settings and mappings. Templa

[2020-04-01 20:28] untergeek commented on #91
# Gotcha 1: Lots and lots of fields

Because of the tremendous variety in attribute naming alone, there will be a high number of fields in your Elasticsearch index. Currently, my index is up to nearly 600 fields. Elasticsearch limits an index to 1,000 fields by default. If you already have 1,000 fields and try to index a new document that has an as-yet unseen field, an error will bounce back indic

[2020-04-01 21:21] untergeek commented on #91
# Gotcha 2: Attribute keys with dots in them

For example, given this sample:
[code]
You will see an error like this:
[code]

Elasticsearch tries to expand dots in key names to represent nested fields. Keys like `some.user@gmail.com - Roku Ultra` will therefore break things.

I've just raised this with @legrego directly and will raise a separate issue for it.

In the meanwhile, the only thing you

[2020-04-01 21:30] untergeek opened #92 "Elasticsearch tries to expand dots in JSON keys"
**Environment**
Home-Assistant version: 0.107.4
Elasticsearch version: 7.6.2

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
When a sub-key of `hass.attributes` (and potentially others) contains dots, Elasticsearch will try to expand that key into a nested structure.

**To Reproduce**
Steps to reproduce the behavior:
For example, when trying to index this sample (extracted fro

[2020-04-02 03:12] kkellner commented on #91
Thank you for the deep dive into this issue.   I'm not well versed on elasticsearch....   I tried to run the `hass-index-template-v4_1` in dev tools but got the following response:

[code]
![image](https://user-images.githubusercontent.com/9540241/78206889-4fee0180-745d-11ea-8352-b49ac99eec9d.png)

[2020-04-02 03:31] untergeek commented on #91
Which version do you have? It may be you have an older release. I can adapt the template accordingly if I know what you’re using.

[2020-04-02 03:37] kkellner commented on #91
Elasticsearch version 6.8.3

[2020-04-02 15:58] kkellner commented on #91
I guess I am behind on my version.   I'll look at upgrading.

[2020-04-02 16:36] untergeek commented on #91
No need to take it that there yet. We may just need to assign a mapping type of `_doc` to the template for 6.x. Let me do a quick test.

[2020-04-02 16:59] untergeek commented on #91
You should only need to append `?include_type_name=false` to your request in either the Dev Tools in Kibana, or `curl`. That will make it work.

[2020-04-02 18:09] kkellner commented on #91
Adding `?include_type_name=false` worked, however it looks like I'm getting a new error from home assistant side.  Not sure if its related as I updated from v6.8.3 to v6.8.8 on elastic search and didn't check the HA logs before I applied `hass-index-template-v4_1`.  However I was getting logs in ES after the v6.8.8 upgrade, but not getting any logs after adding`hass-index-template-v4_1`.

Please n

[2020-04-02 18:25] untergeek commented on #91
Did you completely delete the index and start over? If so, the mapping type complaint would appear to come from differing mapping templates standards between Elasticsearch v6 and v7.

Are you also using the most recent release of `homeassistant-elasticsearch`?

What are the top 25 lines output from: `GET hass-events-v4-000001/_mapping`?

[2020-04-02 21:33] kkellner commented on #91
This is what I did:
1. stopped home assistant
2. Ran this:
DELETE _template/hass-index-template-v4
DELETE _template/hass-index-template-v4_1
DELETE /hass-events-v4-000001
DELETE /active-hass-index-v4
PUT _template/hass-index-template-v4_1?include_type_name=false  (... with json body)
3. started home assistant

I'm running `homeassistant-elasticsearch` version `v0.2.1`

Output of `GET hass-events-v

[2020-04-02 23:15] untergeek commented on #91
There's what we're missing for 6.x:
[code]
Document type is still required, but should be pinned as `_doc` in 6.8

To correct the patch template for 6.8, use this (note the addition of the mapping type line with `_doc`):
[code]

So, do the same procedure as last time, but with this v4_1 of the patch template. I think it should work. You should try to add it **WITHOUT** `?include_type_name=false` f

[2020-04-04 08:38] kkellner commented on #91
Well I ended up updating to v7.6.2 and following your original instructions with v4_1.   It seems to be working for the original case I provided.   However, I'm getting a new one:

`Error publishing documents to Elasticsearch: ('1 document(s) failed to index.', [{'index': {'_index': 'hass-events-v4-000001', '_type': '_doc', '_id': 'UaJDRHEBdrLqniB6CMSF', 'status': 400, 'error': {'type': 'mapper_pa

[2020-04-04 15:12] untergeek commented on #91
It appears that some values from Dark Sky are invalid JSON. You’ll have to exclude the weather.dark_sky entity (Home Assistant also discontinued support for Dark Sky anyway, since Apple acquired them this week and announced API access would go away).

[2020-04-06 17:25] legrego commented on #91
I had a similar error happen with the HACS component when testing this locally. I wonder if it’s throwing an error any time an attribute’s value is a JSON object, as opposed to a string of text. I’ll take a closer look at my error to see if that’s the case...if so, we could remediate this by storing the stringified json value, or dropping that attribute altogether

[2020-04-17 19:59] untergeek commented on #91
Oh, this is definitely it. Since the mappings are already set, when you try to send an object to a `text` or `keyword`, it will reject like this. Force-escaping JSON into strings would fix it.

[2020-04-24 09:34] JZ-SmartThings opened #93 "Show firing of Automations from Home Assistant"
**Is your feature request related to a problem? Please describe.**
There is no problem and this is certainly an enhancement. Currently you can only see state values and it works wonderfully. However, if there's ability to subscribe to automation firing events, that would be pretty amazing. I've been using my Kibana for a long time and absolutely love it but now joining Grafana to the force. Below

[2020-04-25 23:52] JZ-SmartThings opened #94 "Automation firing documents cause errors with Elasticsearch failures"
**Environment**
Home-Assistant version: 0.108.3
Elasticsearch version: 7.6.2

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
Automations that fired in Home Assistant cause this error below:

`
Apr 25 16:22:25 UBUNTU64 hass[58789]: elasticsearch.helpers.BulkIndexError: ('2 document(s) failed to index.', [{'index': {'_index': 'hass-events-v4-000001', '_type': '_doc', '_id': 'bKK

[2020-04-25 23:53] JZ-SmartThings commented on #93
This is likely functional as desired if Issue 94 gets resolved: https://github.com/legrego/homeassistant-elasticsearch/issues/94

[2020-04-26 14:06] legrego commented on #94
Hey @JZ-SmartThings, thanks for the bug report. I believe this is a duplicate of https://github.com/legrego/homeassistant-elasticsearch/issues/91.

Can I ask you to test a beta version once I have one ready to verify a fix?

[2020-04-26 14:13] legrego commented on #91
This unfortunately is the case with lists as well. If anyone is relying in an attribute's value being a string array, for example, then we would have to escape this as well, which might break some queries.

For example, `group`s have an `attributes.entity_id` property, which is an array of all entity ids which belong to that group. We have to escape those now because a string array can't be index

[2020-04-26 14:16] legrego commented on #93
Thanks for the report - I can confirm that #91 / #94 will resolve this, so I will close this for now. Feel free to reopen if for some reason the fix doesn't meet your needs!

[2020-04-26 14:16] #93 closed

[2020-04-26 21:09] JZ-SmartThings commented on #94
@legrego do you even have to ask? :) I'd be delighted to and would appreciate it quite a bit...

[2020-04-27 11:32] legrego commented on #91
Beta version is available [here](https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.2.2-beta.1) which should resolve this. I'll release as the next patch version if all goes well.

[2020-04-27 11:32] legrego commented on #92
Beta version is available [here](https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.2.2-beta.1) which should resolve this. I'll release as the next patch version if all goes well.

[2020-04-27 11:33] legrego commented on #94
Beta version is available [here](https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.2.2-beta.1) which should resolve this. I'll release as the next patch version if all goes well.

[2020-04-27 11:35] legrego commented on #63
Beta version is available [here](https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.2.2-beta.1) which should resolve this. I'll release as the next patch version if all goes well.

[2020-04-27 18:03] JZ-SmartThings commented on #94
You're awesome, worked like a charm. Thank you so much for sharing this project! REALLY EASY to get going with immediate/impressive output. My Kibana is about to get a couple of fresh new panels :) All the best!

[2020-04-27 18:03] #94 closed

[2020-04-27 23:12] legrego commented on #94
That’s great! I’m glad you’re finding this useful. I’d love to see the dashboards you put together, if you’re willing to share any

[2020-04-28 01:58] JZ-SmartThings commented on #94
Of course willing to share @legrego... took me much less time to grab screenshots than for you to develop this lovely piece of work.

The first screenshot is all me and leveraging SmartThings > MQTT bridge > Node-RED > finally Node-RED posts to Elasticsearch. Had this main dashboard for like 2 years.

The second screenshot is based on your work and it's my quick and dirty that I've been looking fo

[2020-05-01 11:13] #91 closed

[2020-05-01 11:13] #92 closed

[2020-05-01 11:15] legrego commented on #63
Resolved in version `0.2.2`

[2020-05-01 11:15] #63 closed

[2020-05-02 08:01] kkellner opened #96 "failed to index - field name cannot be an empty string"
**Environment**
Home-Assistant version: 0.108.9
Elasticsearch version: 0.2.2

Relevant `configuration.yml` settings:
[code]

**Describe the bug**

Getting the following errors in log.  I'm using the Blue Iris community integration.

[code]

**To Reproduce**

Install Blue Iris community integration (version d2ba3fc)
Install Elastic Search community integration.

[2020-05-02 13:57] legrego commented on #96
Hey @kkellner, thanks for the bug report. Did you happen to see this on any earlier versions of this component, or is `0.2.2` the first version that you tried?

[2020-05-02 14:06] legrego commented on #96
Followup question: Can you provide the full set of attributes from the `binary_sensor.172_20_0_160_alerts` sensor? I'm curious to see which attribute we're mangling into an empty string.

It appears to be the same value as `friendly_name`, but I'm not sure where it's coming from:

[2020-05-02 14:10] legrego commented on #59
Closing, as this is not a priority

[2020-05-02 14:10] #59 closed

[2020-05-03 01:39] kkellner commented on #96
I think the issue is with the latest version of Blue Iris integration.....   It seems to have created a bunch of invalid / unavailable sensors.  Here is what its showing:

![image](https://user-images.githubusercontent.com/9540241/80896497-2a4a5700-8cac-11ea-925b-bd84fc92feee.png)

I rolled back to an older version of the Blue Iris integration and it seems to be working.   I'll leave this issue op

[2020-05-03 02:07] kkellner commented on #96
Still occurring with older version of Blue Iris integration, but looking at the attributes, it does seem like the key is missing.   The UI shows: `: BlueIris Alerts`.    Once a stable version of Blue Iris is released, if the problem continues, I'll open an issue on the Blue Iris integration about the missing key in the attribute.

[code]

![image](https://user-images.githubusercontent.com/9540241/

[2020-05-03 04:02] kkellner opened #97 "Detected I/O inside the event loop"
**Environment**
Home-Assistant version: 0.109.3
Elasticsearch version: 0.2.2

**Describe the bug**

I new warning was introduced in HASS 0.109 when I/O it performed within event loop.  Getting the following warning:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Startup HASS and wait, the WARNING log messages will be produced.

[2020-05-03 04:06] kkellner commented on #97
For reference:  https://www.home-assistant.io/blog/2020/04/29/release-109/#detection-of-blocking-io-in-the-event-loop

[2020-05-04 17:09] legrego commented on #97
Thanks for the heads-up, @kkellner. My HASS I stall is woefully out of date right now, so I probably would have missed this warning for quite a while

[2020-05-04 17:11] legrego commented on #96
Good to know it’s a bug on the Blue Iris side, thanks for taking the time to research this for me.

Nevertheless, We can make this component more resilient to bad data by simply skipping these invalid attributes.

[2020-05-04 17:13] kkellner commented on #96
I agree on making it more resilient to bad data.  However, maybe to help track down bad data, would it be possible to change an empty key to something like "INVALID_KEY" and keep the value.  This might be helpful for integration authors to know they have invalid data.

[2020-05-04 17:20] legrego commented on #96
Yeah that’s certainly doable too. I’m not opposed to that approach

[2020-05-05 14:32] ksonney commented on #47
Would it be possible to have a "meta repo" that points to a component for stack versions? For example, something like:
- Elasticsearch 6.x Component
- Elasticsearch 7.x Component
- Elasticsearch 8.x Component

The user can decide which one to install, and you could continue development on the branches. The releases for each would be based on the branch. The CI might be a little interesting to set

[2020-05-11 21:46] JZ-SmartThings commented on #97
Yep here's a full array of warnings so that you can see line numbers and method calls...

`root@UBUNTU64:/etc/mysql# /hassutil -r |grep elastic
Are you sure that you want to restart Home Assistant? [y/N] y
May 11 14:41:44 UBUNTU64 hass[24835]: 2020-05-11 14:41:44 INFO (SyncWorker_0) [homeassistant.loader] Loaded elastic from custom_components.elastic
May 11 14:41:44 UBUNTU64 hass[24835]: 2020-05-1

[2020-05-22 00:34] mloebl commented on #97
Just got it installed and ran into this as well with 0.110.1.  Thank you for creating this :)

[2020-05-25 23:49] legrego commented on #97
Hey @kkellner, @JZ-SmartThings, @mloebl:

I have a beta release (`v0.2.3-beta.1`) which aims to resolve this. Everything seems to be working well in my own setup, but I would appreciate additional testers to make sure it's working as expected: https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.2.3-beta.1

[2020-05-25 23:51] legrego opened #100 "Migrate to flake8 instead of pylint"
A basic migration should be very straightforward, since the GitHub action we’re using already uses flake8

[2020-05-26 00:08] mloebl commented on #97
So far, so good!  Also can't tell if it's my imagination, but the general HA UI seems noticeable faster/more responsive after swapping this out.  Thank you very much for this!  I've also been using your Homeseer beat, but been moving towards HA, so this is great.

[2020-05-26 00:14] legrego commented on #97
@mloebl thanks for the fast response! I'll give this a couple of days for others to test if they get a chance too.

Well there's a surprise! I wrote that one day out of boredom, and haven't been maintaining it. I'm glad someone else found it useful 😄

[2020-05-26 00:23] mloebl commented on #97
@legrego It works very well, took a bit for me to get the proper beats build environment running initially, but built it against 7.6.2 a few weeks back and has been stable with HS3 and now HS4 Beta.  I stood up my first simple 2 node elastic cluster a couple months ago at my house, and I am loving it. Between being about to bring in the system logs, firewall/surciatanet/netflow logs, and now my HS

[2020-05-26 00:47] mloebl opened #101 "host.hostname value in Elasticsearch is 'homeassistant', which is not the actual hostname"
**Environment**
Home-Assistant version 0.110.2
Elasticsearch version: 7.7

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
My home assistant instance has a different name and a full fqdn, so  home02.somedomain.com .  host.hostname seems to be fixed on "homeassistant" . Not sure if this is expected or not.

**Screenshot**
![image](https://user-images.githubusercontent.com/309719

[2020-05-26 04:21] JZ-SmartThings commented on #97
@legrego it works very well. Still getting my state changes in ES and the HA log is clean. @mloebl I wish it made my HA faster :smile:

As a side note, every time I restart HA, it dumped every single state into ES and the bar chart looked super tall for my automation chart. This update stopped this behavior and now the HA restarts don't dump all states. Thanks again @legrego!!!

[2020-05-27 03:38] kkellner commented on #97
v0.2.3-beta.1 -- So far so good

[2020-05-27 03:42] kkellner commented on #97
I am still getting "field name cannot be an empty string" but that has nothing to do with this issue.  It's a separate issue described here:  https://github.com/legrego/homeassistant-elasticsearch/issues/96

[2020-05-27 17:51] legrego commented on #97
Yeah that is expected. I have a fix ready in https://github.com/legrego/homeassistant-elasticsearch/pull/98 if you’re interested in verifying that too 🙂

[2020-05-27 17:52] #97 closed

[2020-05-27 18:13] legrego opened #102 "Remove service handler"
The usefulness of exposing services from this plugin is not worth the upkeep in my opinion.

It’s not a ton of code, but I’d like to reduce the overall complexity by removing this altogether

[2020-05-27 18:15] legrego commented on #101
Hey @mloebl, I _believe_ this is expected. This field is meant to store the machine’s host name (commonly found in ‘/etc/hostname’), as opposed to the resolved FQDN that HASS is exposed on.

[2020-05-27 18:36] legrego commented on #97
Keep an eye out for a stable `v0.2.3` release in the near future. I have a couple other items I want to address in this release, but feel free to run the beta in the meantime if you want to capture this specific fix.

[2020-05-27 18:37] legrego commented on #101
I take my comment back, I'd expect this to be the same hostname that HASSOS is reporting for you above. I don't run HASSOS, so I'm not sure how to go about debugging this just yet

[2020-05-27 19:50] mloebl commented on #101
I'm up to try whatever you need, not a huge priority issue obviously, but something I noticed when looking in Elastic.  Initially I had it running on a Raspberry Pi, then a VM, and then moved it over to a physical box to get a bit more performance out of it. On those 3 platforms it did let me set the hostname there.

[2020-05-28 11:12] #96 closed

[2020-05-31 23:24] #102 closed

[2020-06-02 15:12] legrego commented on #78
Rather than excluding specific attributes, what do you think about a setting where we only publish an entry to Elasticsearch if the entity's `value` has changed? This would essentially exclude all attribute changes. To make things simpler, I think I'd apply this to the entire integration, as opposed to a per-entity basis.

[2020-06-02 15:28] legrego commented on #101
Cross-posted here: https://community.home-assistant.io/t/get-hostname-from-hassos-installation/201389

[2020-06-05 12:07] mloebl commented on #101
I wonder if you could use this internal_url from https://www.home-assistant.io/docs/configuration/basic/ . Wondering if related to how it's running in the docker container that's messing up the gethostname?

[2020-06-05 23:22] legrego commented on #74
I’ve started this one a couple of times, but it seems that the more advanced configuration would be rather difficult to put into a flow from a UX perspective (e.g. custom certificate authorities, optional auth, entity/domain exclusions, ...).

I can put all the fields in,  but that creates a cumbersome and confusing experience for users who just want to enter a URL.

Perhaps a middle ground is to

[2020-06-09 01:19] JZ-SmartThings opened #105 "ILM not working as expected"
Had the ES service go down... finding the below errors and state of affairs. Seems to relate to ILM failing.

`[2020-06-08T07:09:17,718][ERROR][o.e.x.i.IndexLifecycleRunner] [jznode] policy [ilm-history-ilm-policy] for index [ilm-history-2-000001] failed on step [{"phase":"hot","action":"rollover","name":"check-rollover-ready"}]. Moving to ERROR step
org.elasticsearch.discovery.MasterNotDiscovered

[2020-07-06 20:11] r-oleary opened #106 "[Feature] Enable Geo points for device trackers"
I'm totally new to Elastic, but would be cool if our device trackers, which have lat/lon as an attribute, were available to use as geo points in a map in Elastic.

[2020-07-07 17:21] legrego commented on #106
Hey @r-oleary thanks for opening this issue. We provide a `hass.geo` field today if we detect lat/lon coordinates, with the intent that you could use it within a map.

Can you check to see if that exists for you, and is populating the way you'd expect?

[2020-07-07 17:22] legrego commented on #105
I started researching this, but don't have a definitive root cause at this point

[2020-07-07 17:33] r-oleary commented on #106
I tried to use it and didn't see anything show up on the map, but like I
said I'm new to Elastic so might be doing it wrong.

Also it *appears  *that is only for the location of the hass install
itself? And what I'm looking for is to enable the location data that is in
device trackers.

On Tue, Jul 7, 2020 at 10:21 AM Larry Gregory <notifications@github.com>
wrote:

[2020-07-07 22:32] jsermer opened #107 "Connection timeout errors"
**Environment**
Home-Assistant version: 0.112.3
Elasticsearch version: 7.8.0

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
I receive connection timeout messages most of the time, but occasionally, the integration works and logs data into elasticsearch properly.

**Expected behavior**
No connection timeouts

I started seeing this issue when https://github.com/legrego/homeassi

[2020-07-07 23:48] jsermer commented on #107
Manually bumping the elasticsearch requirement in the manifest.json and restart ha (ha core restart) seems to have fixed my issue:

[code]

[2020-07-07 23:56] jsermer commented on #107
I performed a couple more restarts and was able to recreate the initial problem, so bumping the requirements wasn't a real solution.  :(

[2020-07-08 00:11] jsermer commented on #107
The elasticsearch node is on the same switch, just on another VLAN and the timings aren't slow by any means:

[code]

[2020-07-11 03:06] JZ-SmartThings commented on #105
thanks for the update @legrego!

[2020-07-22 14:03] jsermer commented on #107
Elastic recently announced async is now native to the elasticsearch and the elasticsearch-async has been deprecated:

https://elasticsearch-py.readthedocs.io/en/master/async.html
https://github.com/elastic/elasticsearch-py-async#python-elasticsearch-async-client

The only caveat being a prereq of ES7

[2020-07-22 14:12] jsermer commented on #107
Using the elasticsearch-async library as part of the custom component (instead of the elasticsearch library), yields similar results on my raspberry pi:

[code]

[2020-08-06 14:24] jsermer commented on #107
Things seem to be slowly improving through the 0.113.X release cycle (currently on the 0.113.3 release).  Might be because they continue to fix blocking tasks during startup?

I've noticed that upon an upgrade restart, the elastic integration works seemingly all of the time, but non-upgrade restarts seem to have trouble.  That particular symptom seems to be improving.  Recent log entry after non-u

[2020-08-06 14:29] legrego commented on #107
@jsermer Thanks for taking the time to document your findings here. Sorry for not responding to you sooner. I haven't had much time recently to triage issues, but I'm hoping to get to this in the next couple of weeks

[2020-08-06 14:32] jsermer commented on #107
No problem at all....having the elastic integration is a 'nice to have' and really doesn't impact my home automation in any way.  Let me know how I can help and what other information you might require.  Thanks for responding!

[2020-08-26 10:03] wsw70 opened #108 "Warning about verify_certs=False despite using the default True"
**Environment**
Home-Assistant version: 0.114.3
Elasticsearch version: 7.9.0

Relevant `configuration.yml` settings:
[code]

**Describe the bug**

Upon startup, the following entry is logged once:

[code]

The connection to Elasticsearch is done via HTTPS, with a Let's Encrypt certificate. It seems that  `verify_certs=False` is assumed despite `True` being the default (which should be the case in

[2020-08-26 10:06] wsw70 opened #109 "Are all states logged as a batch?"
I have just started to use `homeassistant-elasticsearch` and I see lots of events being logged in ES.

When drilling down, it seems that all of the states are being dumped as it every 30 (?) seconds.
Is that the case? If so - is there a reason not to log as the state changes (which would yield significantly fewer events)

[2020-08-27 00:51] legrego commented on #109
Hey @wsw70,

Yes by default, this component will batch all state changes and publish them every 60 seconds to Elasticsearch. This is configurable by adjusting the `publish_frequency` ([see config options](https://github.com/legrego/homeassistant-elasticsearch#advanced-configuration)).

The intent was to reduce the number of round trips this component has to make to your Elasticsearch instance. Bat

[2020-08-27 00:53] legrego commented on #108
Thanks for the report @wsw70. It seems like the `elasticsearch_async` package that we're using is causing more problems than it solves (see https://github.com/legrego/homeassistant-elasticsearch/issues/107), so I might have to finally drop support for 6.x and migrate to the new elasticsearch python client, which has async built-in.

[2020-08-29 16:57] #100 closed

[2020-08-30 16:40] #108 closed

[2020-08-30 16:46] #86 closed

[2020-08-30 17:17] legrego commented on #107
I know you said the package upgrades didn't actually solves your problem, but I have a pre-release version of 0.3.0 published [here](https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.3.0-BETA2) if you're able to check it out. I'm interested to see if you get a different stack trace.

This version also adds a `timeout` setting, which might help your particular setup

[2020-08-31 15:05] jsermer commented on #107
@legrego Thanks, I updated to the latest beta version this morning via HACS but did not add a timeout parameter to the config.  So far it's working as expected (but has been working pretty consistently throughout the 0.114 release).  If I begin seeing timeouts, I'll add that config parameter and continue to test.  Nice work!

[2020-08-31 16:04] legrego commented on #107
@jsermer that's great, thanks for the quick feedback! Full disclosure, the default timeout in the ES client was 10 seconds, but the work I did in #114 defaults the timeout to 30 seconds if you don't define one yourself, so that extra time might be helping too.

[2020-08-31 16:08] jsermer commented on #107
@legrego very cool....it really only seemed to timeout upon startup, so even bumping that from 10 -> 30 makes a lot of sense. home assistant is trying to start a bunch of other things in parallel and that may have been causing the original timeout.  Feel free to close this bug report and I'll re-open it if the new timeout mechanism doesn't satisfy my need.

[2020-08-31 16:21] #107 closed

[2020-08-31 17:08] legrego commented on #109
@wsw70 Does this answer your question?

[2020-08-31 17:12] wsw70 commented on #109
Yes, thank you for the information @legrego

[2020-08-31 17:12] #109 closed

[2020-09-06 16:19] legrego commented on #106
device trackers.

@r-oleary sorry for the delay. I tested this using my own device trackers, and I was able to use the Maps app to plot the changes in device location over time:

![image](https://user-images.githubusercontent.com/3493255/92330191-0ec8d180-f03b-11ea-85bf-c8c5211358f2.png)

Can you share screenshots of what you're trying to do?

[2020-09-25 05:55] jordansissel opened #116 "Dockerfile to build Home-Assistant docker image w/ this built-in?"
**Is your feature request related to a problem? Please describe.**

I'm deploying Hass on my raspberry pi using the docker container method. With this method, the typical upgrade scenario is "docker pull ..." to update the hass image. However, it'd be nice if I had a simple docker image with this component, so perhaps my upgrade scenario would become `docker pull ...; docker build -t hass-with-ela

[2020-09-28 18:19] ankerstal opened #118 "hass.value is a text field, so I cant make graphs based on it."
Since the values in hass.value is text, they cant easily be used to create vizualisations based on them. This was the basic Idea behind adding this integration. Is there something Im missing?

[2020-09-28 18:28] ankerstal commented on #118
Sorry, I was wrong. Kibana supports this now.

[2020-09-28 18:28] #118 closed

[2020-10-02 19:43] legrego commented on #116
Hey @jordansissel!

Thanks for opening this. I'm not currently inclined to add a Dockerfile to the repo. Folks who install this component are likely to have other custom components installed as well, so I don't feel like many would benefit from this configuration. I could be wrong though, so I'm happy to have a discussion about this, and/or leave this open to see if there is broader interest.

Hav

[2020-10-02 19:45] jordansissel commented on #116
Oh I don’t think I’ve heard of HACS. I’ll check it out. Thanks! I’m good to
close this (on email so I can’t)

On Fri, Oct 2, 2020 at 12:43 PM Larry Gregory <notifications@github.com>
wrote:

[2020-10-02 19:49] #116 closed

[2020-10-17 16:35] legrego opened #121 "Remove support for custom Certificate Authorities (`ssl_ca_path`)"
In order to reduce the complexity of migrating to config flows (https://github.com/legrego/homeassistant-elasticsearch/issues/74), I would like to remove the `ssl_ca_path` option.

The ability to specify a custom CAs is not consistent with the rest of the home-assistant component suite, at least based on my research. We will keep the existing options to enable/disable SSL, and to enable/disable SS

[2020-10-17 17:04] legrego opened #122 "Add entry to `home-assistant/wheels-custom-integrations`"
https://github.com/home-assistant/wheels-custom-integrations

https://developers.home-assistant.io/blog/2020/05/08/logos-custom-integrations

[2020-10-17 17:05] legrego opened #123 "Add logo for integration"
https://github.com/home-assistant/brands

https://developers.home-assistant.io/blog/2020/05/08/logos-custom-integrations

[2020-10-17 18:53] jakommo commented on #121
I'd appreciate if we could keep the option to specify a CA somehow. I'm running my own CA at home and it's also used to secure my Elasticsearch cluster.

IMO it's a bug that many components do not support this in 2020 and not something we should follow.
There are also some that do support this [mqtt for example](https://www.home-assistant.io/docs/mqtt/certificate/).

I don't have a strong opinion

[2020-10-17 20:53] legrego commented on #121
Thanks @jakommo, I appreciate your feedback. I opened this issue to see what kind of reaction I'd get, so it's good to know that this is still being used.

I'll do my best to maintain this setting, and I'll update this issue with any findings as I work through the Config Flow implementation.

Home assistant is really pushing integrations away from yml based config, and I expect that a (far away) f

[2020-11-25 19:03] legrego commented on #74
Opened https://github.com/home-assistant/frontend/discussions/7820 to discuss the limitations of using an "options flow handler" as opposed to a custom config panel, like some internal integrations are capable of providing

[2020-11-25 20:04] legrego opened #124 "Publish documents with domain-specific mappings"
Currently, all of the events that we publish share a [`hass.attributes`](https://github.com/legrego/homeassistant-elasticsearch/blob/9c7b3f11c70cd3a912fe23b4f32ce996e3eac712/custom_components/elastic/index_mapping.json#L68-L71) property, which acts as a dumping ground for any and all attributes that are associated with the entity.

This _mostly_ works, but we start running into trouble when entiti

[2020-12-21 09:26] dsztykman commented on #124
The only way I can think of to remove the problem completely is to use `hass.attributes.{DOMAIN}.{ENTITY_ID}.*`
What do you think?

[2020-12-31 18:33] legrego commented on #122
Opened https://github.com/home-assistant/wheels-custom-integrations/pull/224

[2021-01-01 13:55] #122 closed

[2021-01-02 19:40] legrego commented on #123
Opened https://github.com/home-assistant/brands/pull/2132

[2021-01-02 19:43] legrego commented on #121
I think I've found a flow that works which won't inconvenience users. I'll post an update here once I have something testable. @jakommo would you be available to test this out once it's ready?

[2021-01-02 22:17] jakommo commented on #121
Awesome @legrego . Yes, sure. Let me know when you have something I can test.

[2021-01-04 17:58] legrego opened #127 "Change default setting for `only_publish_changed`"
Currently, this integration will publish the current state of all entities every `n` seconds, regardless of whether or not this entity underwent a state change.

The intent was to make visualizing this information easier in Kibana, as missing values would not render nicely in line or area charts.

Users who only want to publish state changes need to configure `only_publish_changed: true`.

Kibana

[2021-01-05 01:15] legrego commented on #124
++ I think this is close. `entity_id` is _technically_ the concatenation of `domain` and `object_id`, so `{DOMAIN.{ENTITY_ID}` would be redundant. What do you think about `hass.{ENTITY_ID}.attributes.*`? This would signify that the attributes belong to the entity, instead of the entity belonging to attributes.

[2021-01-05 08:18] dsztykman commented on #124
Sounds good to me, I think it makes sense to have attributes belonging to the entity.
In general it means we'll never be able to share visualisation because we have different entity_id, but I don't see any other solution...

[2021-01-05 12:36] legrego commented on #124
Yeah which is sad, but that should be easy enough to tweak on the exported visualization if necessary.

The other complication would be if you wanted to graph multiple sensors of the same type without having to worry about their entity ids. Maybe a graph of temperature across multiple sensors across the home. The `hass.value` property would still be fixed in place, but if there were attributes tha

[2021-01-14 13:59] legrego opened #130 "Support indexing via data streams"
The information that we publish to Elasticsearch is a great fit for [Data Streams](https://www.elastic.co/guide/en/elasticsearch/reference/master/data-streams.html).

We should investigate what it would take to add support for data streams.

Data Streams was introduced in version 7.9 (I believe), so we wouldn't be able to always use them unless we dropped support for older cluster versions, which

[2021-01-18 11:28] #123 closed

[2021-01-18 16:54] #74 closed

[2021-01-18 17:31] #101 closed

[2021-01-18 17:57] legrego commented on #101
I think I managed to fix this in https://github.com/legrego/homeassistant-elasticsearch/pull/131. I'm running Home Assistant OS myself now, and I can see the updated hostname reflected in Elasticsearch now. This will be available in the upcoming `v0.4.0` release.

[2021-01-18 18:01] legrego commented on #78
I think the best way to solve this is to change the `only_publish_changed` boolean flag to a `publish_mode` option instead. Something like:

publish_mode:
 - `all`: publish all entities regardless of state change
 - `any_changed`: publish only those entities which have had either a `value` or `attribute` changed
 - `value_changed: publish only those entities which have had their `value` changed

[2021-01-18 20:21] legrego commented on #124
Could we leverage [runtime fields](https://www.elastic.co/guide/en/elasticsearch/reference/7.11/runtime.html) (available in upcoming releases) for this? Instead of defining mappings for `attributes` in advance, we could instead store them at `hass.attributes.*` as they are today, but without creating mappings for the individual fields at index time:
[code]

If this works the way I think it will, t

[2021-01-20 14:48] ruflin commented on #130
++ on going for data streams and directly jump on the new naming scheme: https://www.elastic.co/blog/an-introduction-to-the-elastic-data-stream-naming-scheme (yes, I'm biased). I guess this would all fall under `metrics` as the type and we should decide on the dataset name(s). Is it all a single dataset or should there be multiple different ones?

[2021-02-04 14:43] YomoShitsu opened #135 "Unable to had elastic integration"
Hello,
I followed procedure to had elastic integration.
The component is available in folder custom_compenents but I can't see it in home assistant GUI when I try to had it through Integrations...

Could you help me please ?

Home Assistant OS in v2021.2.0 under docker

Thank you so much

[2021-02-04 17:42] mloebl commented on #127
Hey legrego! Is this feature enabled yet? I tried enabling it with v0.4.0-beta2 and all data stopped coming in at all unless I have a glaring typo.  Very much looking forward to the next release.

Also, related to this, I think all the traffic with this set to `only_publish_changed: false` *may* be causing some sort of socket issue on the HA side.  I noticed that if I had the Elastic plugin enable

[2021-02-05 01:05] legrego commented on #127
Hey @mloebl - this hasn't been enabled yet by default, but it should be functional. I won't have time to test my own setup for a couple of days, but I'll see if I can reproduce this.

Interesting, thanks for letting me know. Can you adjust the `publish_frequency` to a higher/lower number to see if that impacts your Chromecasts, or if it changes the amount of time until the Chromecasts stop receivi

[2021-02-05 13:38] mloebl commented on #127
@legrego No worries and thanks for the reply. I've bumped up the `publish_frequency` to 5 minutes and enabled debug. Basically a few months ago I noticed that the Chromecasts, which had be working great, would fail after 12-24 hours, and didn't really get any helpful support posts in the forum. Then magically they started working again reliably while debugging a memory leak in one of the HA integr

[2021-02-06 15:30] legrego commented on #135
Hi @YomoShitsu - which version of the component are you running?

The latest beta (`0.4.0-beta2`) is the only version that can be configured in the GUI. Older versions don't have GUI support just yet.

If you're running the latest beta, then can you post a screenshot of your `custom_components` directory, and also a screenshot of your `custom_components/elasticsearch` directory?

Did you restart H

[2021-02-06 15:35] legrego commented on #130
@ruflin I think `metrics` makes sense for this component. At this point, I think a single dataset is all we'd need.

What do you think about any of these options?
- `metrics-hass-default`
- `metrics-hass.events-default`
- `metrics-hass-events`

[2021-02-06 19:15] YomoShitsu commented on #135
Hello @legrego
Thank you for your reply.
Yes I had installed latest beta 0.4.0-beta2

![image](https://user-images.githubusercontent.com/58432074/107127666-eaa64080-68b7-11eb-805f-f38e2179370a.png)
![image](https://user-images.githubusercontent.com/58432074/107127685-19241b80-68b8-11eb-9cff-7040f93c16dc.png)

Thank you

[2021-02-07 13:06] legrego commented on #135
Thanks for the quick response @YomoShitsu -

It looks like the component ended up in the wrong location. It should be in a folder named `elasticsearch`, rather than `elastic/search`.

Can you move the contents of `elastic/search` into an `elasticsearch` folder, and then restart Home Assistant?

[2021-02-07 19:11] YomoShitsu commented on #135
Hi @legrego

You right !
I remove folder elastic from custom_components, erase it from hacs, restart Ha, reinstall it and restart ha one more time and I will able ton install it through integration.
I thought there was an old installation of a stable version !
Thanks for your help !

Regards

[2021-02-09 03:06] legrego commented on #135
Awesome, glad that worked!

[2021-02-09 03:06] #135 closed

[2021-02-10 23:49] legrego opened #136 "Publish error in local beta"
Logger: homeassistant
Source: custom_components/elasticsearch/es_doc_publisher.py:262
First occurred: 6:41:11 PM (1 occurrences)
Last logged: 6:41:11 PM

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/config/custom_components/elasticsearch/es_doc_publisher.py", line 309, in _publish_queue_timer
    await self.async_do_publish()
  File "/config/custo

[2021-02-12 20:27] #136 closed

[2021-02-12 20:30] legrego commented on #127
@mloebl

I noticed a similar problem on my local install. It appears that we attempted to publish a document before the component was fully initialized. I haven't found the root cause there yet, but I added additional logging in #137, which works around the problem for the time being.

In my particular case, I saw an exception in the logs, and then my `es_publish_queue` sensor kept growing: it was

[2021-02-12 20:32] mloebl commented on #127
I will give it a shot, thank you!!  FWIW I changed `publish_frequency` to 300s, and no issues yet with the Chromecasts, so either a coincidence (very possible as have a few networking related plugins), or a viable solution.

[2021-02-12 20:55] mloebl commented on #127
Should I still be seeing `Configuration is handled via yaml, and cannot be controlled via UI`  for v0.4.0-beta3? Thanks!

[2021-02-12 21:32] legrego commented on #127
That's expected if you started one of these betas with existing Elasticsearch config in your yaml file.

If you want to use the UI, then you'll need to remove the config entry from your yaml, and restart. Next, remove the Elasticsearch integration from the integrations screen (don't remove the code, or files).

Once that's done, you can add the integration back through the UI. At this point, you'l

[2021-02-15 09:53] ruflin commented on #130
++ on metrics. I like `hass.events` as it keeps room for other `hass.*` data. `hass-events` would be using `events` as the namespace which is unexpected.

One thing I'm stumbling over is `hass` prefix instead of `home_assisstant` or `ha`. I'm still new to Home Assistant and I just run it in a docker container without `hass` as the OS. I'm a bit confused here on what is what and what is the correct

[2021-02-19 14:01] mloebl commented on #127
@legrego TLDR; Just a followup, the Chromecast issue was NOT this plugin

Full explanation...  the  networking issue I've been having are *not* related to this integration. To save a long complex situation, there was a routing problem on my network where my IP cameras were isolated. HA was constantly trying to hit those, and 50% of the time having a route issue (but no real errors, found it by acc

[2021-02-21 17:36] legrego commented on #127
@mloebl I appreciate you following up -- thanks! I'm glad we were able to rule out the Elasticsearch component. I just saw your [writeup on reddit](https://www.reddit.com/r/homeassistant/comments/lnh1oq/finally_resolved_a_memory_leak_issue_ive_been/) about the memory leak, and I never would have guessed a networking problem either!

[2021-02-22 15:08] legrego commented on #130
I picked `hass` arbitrarily in the past, so I'm open to renaming this. `home_assistant` seems like a decent name. So would this make the new proposal `metrics-home_assistant.events-default`?

[2021-02-24 08:57] ruflin commented on #130
@legrego LGTM 👍

[2021-02-25 20:04] WaaZaa666 commented on #106
I was just working on trying to do this, but it seems in Elastic 7.11, the geo_point are not working again.

The template does contain a host.geo.location mapping, but the incoming documents are not mapped as geo_point:
[code]
Trying to figure out what's causing this.
v0.4.0-beta3

[2021-02-25 21:46] WaaZaa666 commented on #106
Now that I found the culprit in my new installation, I'd like to comment this is working very nicely.
The homeassistant app nicely send the geo information, which the component sends to Elastic. I am able to plot the geo data on the kibana maps visualization.

So, looks allright to me!

[2021-02-26 16:05] legrego commented on #106
@WaaZaa666 I'm glad you geo points working! Did this component do something wrong that you needed to manually correct?

[2021-02-26 16:07] legrego commented on #121
@jakommo The [latest beta](https://github.com/legrego/homeassistant-elasticsearch/releases/tag/v0.4.0-beta4) maintains support through the new config UI. Would you be able to give this a test when you get some free time?

[2021-02-26 20:19] WaaZaa666 commented on #106
Yeah, firstly, I needed to rename the folder from elastic to elasticsearch to get it working at all. For specific geo_point, I found the index mapping was not loaded. Also, then found alias and ILM policy was not assigned to the index.

To get it working now, I just reindexed the data into a new index where I pre-applied the template manually. After deleting the original index, restarting hass, al

[2021-02-26 20:57] legrego commented on #106
Yeah this is unfortunately expected when migrating from 0.3 to the new 0.4 beta series (https://github.com/legrego/homeassistant-elasticsearch/pull/129).

This part is concerning to me, and likely points to a bug in the component somewhere.

If you have the time to reproduce, that would be greatly appreciated!

[2021-03-01 19:05] jakommo commented on #121
Just tested it and it works fine after specificity the path to the CA cert in the UI. :heart:

[2021-03-03 11:47] legrego commented on #121
Fantastic, thanks for verifying @jakommo. I'll close this one out

[2021-03-03 11:47] #121 closed

[2021-03-28 12:13] ankerstal opened #140 "Defining phases using ILM"
Hi!

Its a problem that this integration overwrites the ILM-policy that is changed in elasticsearch. I have a short lived hot phase, and then a long warm phase on slower storange. But since this integration overwrites my policy all the time this does not work.

I would like to have one of two options:
  * Option to not overwrite policy if it exists.
  * Option to specify a full policy with multipl

[2021-04-07 07:41] WaaZaa666 commented on #106
It's been a while, but I was able to retest this.

I deleted all the aliases, index templates and Kibana mappings, removed the component in Homeassistant and re-enabled. Right now the hass.geo.location  & host.geo.location are working just fine.

I'm not sure what happend with my previous installation, might have been some kind of issue while switching from the then 'default' version in HACS to th

[2021-04-07 11:28] legrego commented on #106
@WaaZaa666 thanks for taking the time to retest this, I really appreciate it. I'm going to close this as resolved then, but feel free to re-open if this is still problematic.

[2021-04-07 11:28] #106 closed

[2021-04-17 17:08] legrego commented on #140
Hey @ankerstal, thanks for opening this issue. I intentionally took a simple/opinionated approach to ILM, due to the sheer number of available configuration options. I'm not personally interested in allowing a full policy specification, as Kibana does a much better job of presenting all of these options than this component ever could.

I'm not opposed to skipping policy overwrite, but I am curious

[2021-04-29 12:29] legrego opened #141 "Add IoT class to manifest"
Our validation job is failing due to a missing IoT class in the component's manifest: https://github.com/legrego/homeassistant-elasticsearch/actions/runs/794402077

[code]

[2021-05-11 08:04] cavokz opened #143 "How to enable debug logging?"
I'm configuring this integration (v0.4.0) for the first time and I've an existing secure self managed ES 7.12.0 instance running on some other machine. I also have configured the hass_writer role and a user with such role.

In following the UI configuration instructions I get an "Insufficient privileges for specified user" error and a 403 status in the hass logs.

I'd like to investigate (ie read

[2021-05-11 08:09] cavokz opened #144 "Allow disabling ILM from the UI configuration flow"
I would prefer to configure indices and ILM on my own and therefore give to the hass user only the strictly minimum privileges for creating new documents.

I see that the .yaml configuration would allow this setup but it's marked as deprecated and doesn't look as the way forward for me.

[2021-05-11 08:12] cavokz opened #145 "Document the development flow"
I'd like to get my hands dirty but also avoid reinventing the wheel. What's the best way to setup an efficient development iteration? Could you please document it? Thanks!

[2021-05-13 19:40] legrego commented on #143
Hey @cavokz, sorry to hear you're having trouble. You can enable this component's debug logging by setting the following in your `configuration.yaml`:

[code]

This won't include everything sent/received over the wire, but will hopefully give you enough context to triage further

[2021-05-13 19:45] legrego commented on #145
Thanks for your interest! Yeah I need better docs for sure for this. If you're using Visual Studio Code, then this project includes a [dev container](https://code.visualstudio.com/docs/remote/devcontainerjson-reference) that to my knowledge has only been tested on my machine 🙂.

Opening the project in a dev container will give you a local home-assistant instance with the plugin installed. There is

[2021-05-13 19:48] legrego commented on #144
This should be possible via the UI configuration flow already:

![image](https://user-images.githubusercontent.com/3493255/118178908-948af100-b402-11eb-8067-c129789711f7.png)

[2021-05-14 07:29] cavokz commented on #144
Is it already available in v0.4.0?

[2021-05-14 07:30] cavokz commented on #145
Nice, I'll give it a try. Thanks!

[2021-05-14 12:34] legrego commented on #144
Yes, this is part of the options flow (The "Configure" button that appears on the integrations's card after initial setup). It's controlled via the `CONF_ILM_ENABLED` property:

https://github.com/legrego/homeassistant-elasticsearch/blob/39b3cf4bd9ebfd599be34e0314128a8f40f1c3f5/custom_components/elasticsearch/config_flow.py#L357-L378

[2021-05-14 13:38] cavokz commented on #144
That's why I cannot find it, I cannot pass the initial setup.

[2021-05-21 18:04] legrego commented on #143
@cavokz Any luck debugging your component setup? Anything I can help with?

[2021-05-25 12:42] cavokz commented on #143
@legrego Did not have the opportunity yet.

[2021-08-03 17:22] legrego commented on #141
Resolved via https://github.com/legrego/homeassistant-elasticsearch/pull/142

[2021-08-03 17:22] #141 closed

[2021-08-11 13:08] legrego commented on #49
I have a PR up to add support for this: https://github.com/legrego/homeassistant-elasticsearch/pull/147
I still need to test this before merging, but the changes were fairly minimal

[2021-08-24 13:00] erikveg opened #148 "add elastic api key authentication"
My elastic cloud requires an api key authentication.

Could you add this to the configuration and supply the elastic client with the api_key authentication header.

Thanks

[2021-09-02 00:06] legrego commented on #148
Thanks @erikveg I agree this would be useful. From a security perspective I think we should prefer an API Key over traditional username/password

[2021-09-17 18:50] josemotta opened #149 "Trouble migrating to the new setup process"
Hi,
Good job with this component! I use it in a container to embed Elastic stack in a Homeassistant project with Raspberry Pi. The docker-compose looks like the following:
`
 homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/raspberrypi4-homeassistant:stable"
    volumes:
      - /home/pi/config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-

[2021-09-22 12:10] legrego commented on #149
Hey @josemotta, thanks for the feedback. I don't have any plans to remove the manual configuration method anytime soon, but I may decide not to add new config settings to that method if it adds significant complexity.

It wouldn't surprise me if Home Assistant eventually removed support for manual configuration at some point in the future, so I was trying to get ahead of that by sunsetting manual

[2021-10-31 15:41] legovaer opened #150 "How to connect to Elastic Cloud?"
It's not clear from the docs how one can connect to Elastic Cloud. Could you elaborate on this please? 😊

[2021-11-01 11:51] legrego commented on #150
Hey @legovaer -- the process for connecting to Elastic Cloud should be largely the same as a self-hosted instance.

To get your Elasticsearch URL, click Elasticsearch's `Copy endpoint` link from your deployment overview screen in the Cloud Console:

<img width="1333" alt="image" src="https://user-images.githubusercontent.com/3493255/139667031-f83cfefc-f3a7-42f3-a65b-0ea26d089404.png">

As for user

[2021-12-04 12:17] legrego commented on #150
Please feel free to reopen if you need more assistance

[2021-12-04 12:17] #150 closed

[2021-12-04 12:19] #143 closed

[2022-01-05 16:32] trebolcinco opened #151 "Missing Static Doc Properties, "This is a bug""
Not sure when this started but it is recent.  Am on v0.4.0 of the integration and version 2021.12.2 of HA.  I've searched around through issues and HA sources and not finding any solutions.

This error originated from a custom integration.

Logger: custom_components.elasticsearch
Source: custom_components/elasticsearch/es_doc_publisher.py:274
Integration: Elasticsearch (documentation, issues)
Firs

[2022-01-06 13:18] legrego commented on #151
Thanks for the report, @trebolcinco. This is certainly a bug with this component -- When I first observed this happening, I thought it was a race condition during component initialization, but that doesn't appear to be the case for your setup since it happened `25914` times:

https://github.com/legrego/homeassistant-elasticsearch/blob/ba7a4a78bd9209993628b99511a3c97108614f63/custom_components/elas

[2022-01-06 22:53] trebolcinco commented on #151
Am using HACS for elastic setup and am file based yaml, here you go:

[code]

[2022-01-11 12:47] legrego commented on #151
Thanks @trebolcinco, and sorry for the delay. I was actually just interested in the config for this elasticsearch component, wherever it was defined (either in the UI or via `configuration.yaml`).

Based on the yaml file you provided, I'm guessing you've configured the elasticsearch component through the UI? Could you share screenshots of that configuration?

[2022-01-15 16:00] trebolcinco commented on #151
Here you go...

<img width="291" alt="Screen Shot 2022-01-15 at 9 59 29 AM" src="https://user-images.githubusercontent.com/1411323/149628604-791537d9-d201-4dc3-9c55-0c08dee9dc09.png">
<img width="576" alt="Screen Shot 2022-01-15 at 9 59 38 AM" src="https://user-images.githubusercontent.com/1411323/149628605-d9486f3d-fc09-4478-a908-23c87d7bf079.png">

[2022-02-21 18:29] IATkachenko commented on #47
Version may be selected in options, with different "gateways" inherited from abstract parent class:
[code]
then integration will use connector based on settings.

For the time some version will be marked as deprecated and removed, to reduce cost of support.

[2022-04-27 18:43] #49 closed

[2022-04-27 19:05] legrego commented on #148
@erikveg,

Thinking about this a bit more: would you prefer to create the API Key yourself, and store that within this component (like we do with username/password today), or would you like this component to create one automatically, using the configured username/password?

I'm leaning towards the latter, as that, IMO, provides a superior user experience. This way we can automatically create an AP

[2022-04-27 19:06] #144 closed

[2022-04-27 19:08] legrego commented on #140
I see there are a number of 👍 reactions to this issue. Can anyone weigh in on my questions above?

[2022-04-27 19:52] legrego opened #153 "📝 Please take a 1-minute survey!"
Hey folks! I'm trying to get a better idea of how this component is used in the wild. Please take this short 1-minute survey to help me out: https://www.surveymonkey.com/r/7CT9ZQT

Feel free to leave a comment here if there's something not captured in the survey that you want to say. Thank you!

[2022-04-28 08:16] erikveg commented on #148
An automatically created api key is fine by me.

Thanks!

Von: Larry Gregory ***@***.***>
Gesendet: Mittwoch, 27. April 2022 21:06
An: legrego/homeassistant-elasticsearch ***@***.***>
Cc: Vegting Erik ***@***.***>; Mention ***@***.***>
Betreff: Re: [legrego/homeassistant-elasticsearch] add elastic api key authentication (#148)

@erikveg<https://github.com/erikveg>,

Thinking about this a bit more:

[2022-05-12 19:14] #78 closed

[2022-05-15 09:10] chrgro commented on #153
Done, thanks for your work! :)

[2022-05-15 12:03] legrego opened #154 "Filtering bug when including specific entities"
Hmm, I do seem to have stumbled upon some sort of bug. I have this setup:

![image](https://user-images.githubusercontent.com/1118158/168465992-4d16f849-f604-4a98-a4eb-1f6a99699022.png)

But I still occasionally get all of the entities published:
![image](https://user-images.githubusercontent.com/1118158/168466001-d8363397-a3fc-4ece-8e89-82a01464296c.png)

I can't quite determine exactly what the

[2022-07-07 21:35] chrgro commented on #154
Found the issue, please review the linked PR for a fix. I have tested this locally and it now correctly filters the events with the configuration shown in my previous screenshots.

[2022-07-08 17:52] #154 closed

[2022-07-09 13:52] #127 closed

[2022-07-10 10:40] robin13 commented on #151
Still seeing this with the latest v0.5.0

[code]

Home Assistant 2022.7.2
Supervisor 2022.07.0
Operating System 8.2
Frontend 20220707.0 - latest

[2022-07-11 14:16] jsermer opened #161 "Error setting up integration"
**Environment**
Home-Assistant version: 2022.7.3
Elasticsearch version: 8.3.2

Relevant `configuration.yml` settings:
setup via ui

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Events still seem to be published but the queue size and health sensors show as 'unavailable'

[2022-07-11 16:05] legrego commented on #161
Thanks for the report, @jsermer. I can also reproduce this on version `8.3.2`. This is a regression on the Elasticsearch side, which should be resolved in `8.3.3` once it's released:
- https://github.com/elastic/elasticsearch/issues/88318
- https://github.com/elastic/elasticsearch/pull/88336

[2022-07-11 16:10] legrego commented on #161
**update**: It appears that we no longer care about the `build_flavor` in this component. I've raised https://github.com/legrego/homeassistant-elasticsearch/pull/162 to attempt to resolve this on our side.

[2022-07-11 16:11] #161 closed, assigned to nobody

[2022-07-12 12:01] robin13 commented on #151
Hey @legrego !
I upgraded and enabled the debug logging as you indicated, but now... I don't get the warnings any more ... Strange... but in a good way. :shrug:

[2022-07-12 18:59] legrego commented on #151
@robin13 well...that's good news I suppose! It's plausible that I fixed it. As part of my debugging, I moved the call to `self._start_publish_timer` to later in the startup sequence. In theory, this reduces the chance of documents getting published until after the Static Doc Properties have had a chance to fully initialize:

https://github.com/legrego/homeassistant-elasticsearch/pull/160/files#dif

[2022-07-12 18:59] #151 closed

[2022-09-18 05:57] p-rintz opened #163 "Unable to find elasticsearch in integrations"
**Environment**
Home-Assistant version: 2022.9.4
Elasticsearch version: Trying to use Humio Cloud

Relevant `configuration.yml` settings:
Not using configuration.yml

**Describe the bug**
I am unable to find the "elasticsearch" integration in Home Assistant.

**To Reproduce**
Steps to reproduce the behavior:
1. Install via HACS
2. Restart HA
3. Go to Integrations
4. Cant find it

**Expected behavi

[2022-09-29 11:52] legrego commented on #163
Hey @p-rintz, sorry for the delayed response -- I haven't come across this before. Can you try to enable debug logging for this component, and let see if there is anything else that could give us a hint?

[code]

[2022-11-23 13:15] blarrkan opened #164 "Entities are added several times with each update"
**Environment**
Home-Assistant version: 2022.11.2
Elasticsearch version: 7.16.3

**Describe the bug**
I setup your plugin to send updates to my elasticsearch each 60 seconds, when I check in elasticsearch I can see that I get updates each 60 seconds. But what I noticed is that each entity gets added several time (see screenshot). That will cause a problem when I should aggregate the data later on.

[2022-11-27 15:58] chrgro opened #165 "Removed entities stay in plugin options list, making edits impossible"
**Environment**
Home-Assistant version: 2022.11.4
Elasticsearch version: 7.15

Relevant `configuration.yml` settings:
[code]

**Describe the bug**
If you manually add an entity for the elasticsearch plugin to the "Entities to upload" (same issue with entities to exclude), then later that entity goes away, the entity will remain in the list of things to upload. However the entity will no longer be